<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>

<table style='border-left:10px solid orange;'><tr>
    <td style='padding-left:20px;'>
        <h2><i>Swansea University Medical School</i><br/><b>MSc Health Data Science</b></h2>
        <h3>PMIM-102 Introduction to Scientific Computing in Healthcare</h3>
        <h1><b>Introduction to Programming in R</b></h1>
        <h2><b>3. The Tidyverse</b></h2>
        <h2><i>Part 1: Overview and getting data in and out of R.</i></h2>
        <h3><i>September 2020</i></h3>
        <h3><b>To-do</b></h3>
        <ul>
            <li>Find a dataset that we can use for this session.</li>
        </ul>
    </td>
    <td><img height='300' width='500' src='images/cover.jpg'/></td>
</tr></table>

## __Aim__: Use the tools available in R to manipulate tables of data.

The aim of this session is to concentrate on the core activities in working with large datasets: moving, cleaning and transforming table data to facilitate analyses. Whilst this is possible using base-R, the facilities provided by the libraries in the __Tidyverse__ make it considerably __easier__ and the resulting code __more readable__.

### __A map of where we're going__

1. <div style="background-color:yellow;"><b>Introduction</b> - What is the process, the problems with standard R and the structure of 'tidy' data.</div>

1. <div style="background-color:yellow;"><b>Acquiring data</b> - Getting data into R from files (<b>readr</b>).</div>

1. <b>Tidying the data</b> - Handling missing data and reshaping the tables (<b>tidyr</b>).

1. <b>Transforming the data</b> - Selecting and converting the data ready to analyse (<b>dplyr</b>).

1. <b>Working with specific data types in tidyverse</b>: strings (<b>stringr</b>), dates (<b>lubridate</b>), factors (<b>forcats</b>).

1. <b>Plotting &amp; Data visualisation</b> - beyond the simple R plot etc. (<b>ggplot2</b>).

1. <b>Extras</b> - Things worth knowing of so that you can use them if you ever need them.
 * Applying functions and working with lists (purrr).
 * Tidy evaluation (rlang).
 * Communicating your results with a dynamic, R-based website (shiny).

## __Load the Tidyverse__

The first thing to do is make sure the library is loaded. If you have not already installed it, do so not using the <code>install.packages()</code> function.

In [4]:
## install.packages('tidyverse')
#library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.5.3"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.2.1     v purrr   0.3.2
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   1.0.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
Warning message:
"package 'ggplot2' was built under R version 3.5.3"Warning message:
"package 'tibble' was built under R version 3.5.3"Warning message:
"package 'tidyr' was built under R version 3.5.3"Warning message:
"package 'readr' was built under R version 3.5.3"Warning message:
"package 'purrr' was built under R version 3.5.3"Warning message:
"package 'dplyr' was built under R version 3.5.3"Warning message:
"package 'stringr' was built under R version 3.5.3"Warning message:
"package 'forcats' was built under R version 3.5.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## __What is the process, the problems with standard R and the structure of 'tidy' data__

When handling and analysing large numbers of records we need to let the computer do as much of the work as possibe. Despite the advances in AI, computers are still remarkably stupid or rather, they do like their rules. Which means they work best when the data you provide to them is well structured and clean. The concept of tidy data aims to provide that structure so that the engine in R can work efficiently at whatever analysis you wish to attempt.

Tidy data is data in which:
* Each variable has its own column
* Each observation has its own row
* Each value has its own cell

Vectorised operations (i.e. doing the same thing to all the items in a column, 'apply' and so on - the things R does really well) on data should work on all the cases and produce new variables in new columns.

To help keep things tidy, the tidyverse provides a slightly enhanced form of the data.frame known as a 'tibble'. Using this is a matter of taste. It's mostly convenience: it makes printing is little tidier - only the head by default and the data type is included for each column (you can change this with arguments if you wish) - for help see package?tibble. Tibbles do not make character data into factors unless explicitly asked to.

You can copy a data.frame to a tibble with `as_tibble()` and back to a data.frame with `as.data.frame()`.

In [1]:
#library(tibble)
#df <- data.frame(
#    name=c('Olive', 'Pinochio', 'Queenie', 'Raphael'),
#    gender=factor(c('female', 'male', 'female', 'male')), 
#    height=c(1.7, 1.01, 1.3, 1.6),
#    weight=c(60, 30, 50, 40),
#    stringsAsFactors=FALSE)
#cat("The data in a data.frame:\n")
#print(df)
#tb <- as_tibble(df)
#cat("\nThe data in a tibble:\n")
#print(tb)

The data in a data.frame:
      name gender height weight
1    Olive female   1.70     60
2 Pinochio   male   1.01     30
3  Queenie female   1.30     50
4  Raphael   male   1.60     40

The data in a tibble:
# A tibble: 4 x 4
  name     gender height weight
  <chr>    <fct>   <dbl>  <dbl>
1 Olive    female   1.7      60
2 Pinochio male     1.01     30
3 Queenie  female   1.3      50
4 Raphael  male     1.6      40

### __Quiz__: Which of the following tables is 'tidy'?

__table1__

| | \`cause of death\` | year | deaths | cases |
|---|---|---|---|---|
| | <chr> | <int> | <int> | <int> |      
|1|Spontaneous Human Combustion |2017|   45|  45|
|2|Spontaneous Human Combustion |2018|   53|  53|
|3|Basilisk Sighting      |2017| 11| 112|
|4|Basilisk Sighting      |2018| 8| 104|
|5|Drained by Vampire       |2017|5192|11759|
|6|Drained by Vampire       |2018|6944|13768|
|... |

__table2__

| |\`cause of death\` | year | type | count |
|---|---|---|---|---|
| | <chr> | <int> | <chr> | <int> |      
|1|Spontaneous Human Combustion|2017|deaths|45|
|2|Spontaneous Human Combustion|2017|cases|45|
|3|Spontaneous Human Combustion|2018|deaths|53|
|4|Spontaneous Human Combustion|2018|cases|53|
|5|Basilisk Sighting|2017|deaths|11|
|6|Basilisk Sighting|2017|cases|112|
|... |

__table3__
    
| |\`cause of death\` | year | rate |
|---|---|---|---|
| | <chr> | <int> | <chr> |      
|1|Spontaneous Human Combustion|2017|45/45|
|2|Spontaneous Human Combustion|2018|53/53|
|3|Basilisk Sighting|2017|11/112|
|4|Basilisk Sighting|2018|8/104|
|5|Drained by Vampire|2017|5192/11759|
|6|Drained by Vampire|2018|6944/13768|

__table4a/4b__

| |\`cause of death\` | \`2017\` | \`2018\` |
|---|---|---|---|
| | <chr> | <int> | <int> |      
|1|Spontaneous Human Combustion|45|53|
|2|Basilisk Sighting|11|8|
|3|Drained by Vampire|5192|6944|
| ___deaths___ |
    
| |\`cause of death\` | \`2017\` | \`2018\` |
|---|---|---|---|
| | <chr> | <int> | <int> |      
|1|Spontaneous Human Combustion|45|53|
|2|Basilisk Sighting|112|104|
|3|Drained by Vampire|11759|13768|
| ___cases___ |

### The Process

The process the Tidyverse designers have adopted for data science projects is shown below:

<img src="images/tidyverse_process.png"/>

[From: R For Data Science, Hadley Wickham & Garrett Grolemund](https://r4ds.had.co.nz/)

Which is how it generally works and we shall follow here.

Basically, we need to import the data from whatever source we are getting it (SQL, a CSV or Excel file etc.), then tidy that dataset so that we can the run the cycle to explore the data by transforming, visualising and modelling the data and, once we have discovered the results, documenting them in appropriate, engaging and exciting ways.

### __The Tidyverse__

The tidyverse is a group of related libraries (readr, dplyr, forcats, purrr etc.) which implement elements of this process. It can be loaded using `library(tidyverse)` or individual libraries can be loaded when needed to save time and space.

## __Getting data into R (readr)__

There are functions in base-R to read data from data files, but they are slow and have other minor irritations which have led the Tidyverse people to re-implement them. The base-R functions use a dot to separate the components of the function name, the Tidyverse uses an underscore (the base-R CSV read function is read.csv()). In practice, you may not really notice the difference but there may be times one provides you with useful facilities.

[See the readr cheatsheet.](https://github.com/rstudio/cheatsheets/raw/master/data-import.pdf)

We can read data tables from comma-separated variable (CSV) files (as well as tab-separated variables (read_tsv()), files with any delimiter (read_delim()) and others (see package?readr)). R will make a best-guess at the column types and provide a list which can be accessed via the `spec(table)` function. You can take this list, edit it and paste it into a new `read_csv()` call defining the column types as `col_types=cols( .... )`.

To specify data which should be marked as `NA` use the argument `na=c("", "NA", "...")`.

In [6]:
## library(readr)
#pregnancy <- read_csv(file="data/pregnancy.csv")
#head(pregnancy)

Parsed with column specification:
cols(
  .default = col_character(),
  PARENT_ID = col_double(),
  INFANT_ID = col_double()
)
See spec(...) for full column specifications.

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 3          .
2  47        47.2     18/12/1965    30/07/2010 3          .
3  45        45.1     05/03/1966    12/07/2010 3          1
4 172       172.1     06/03/1967    27/01/2011 2          1
5   8         8.1     24/12/1967    09/03/2010 2          1
6 301       301.1     16/05/1968    27/04/2011 1          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 .              1         .               4                   ... .
2 .              1         .               4                   ... .
3 .              1         .               4                   ... .
4 .              1         .               4                   ... 0
5 .              1         .               4                   ... .
6 .              1         .               2                   ... 3
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       .                  .                     .           .
2 0       .                  .                     .           .
3 0       .                  .                     13          .
4 1       .                  .                     .           .
5 1       .                  .                     13          .
6 1       .                  .                     .           .
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 .           .           .           .
2 .           .           .           .
3 .           .           .           .
4 .           .           .           .
5 .           .           .           .
6 .           .           .           .

In [7]:
#pregnancy_spec <- spec(pregnancy)
#pregnancy_spec

cols(
  PARENT_ID = col_double(),
  INFANT_ID = col_double(),
  DATE_OF_BIRTH = col_character(),
  EDD = col_character(),
  BIRTH_PLAN = col_character(),
  LANGUAGE = col_character(),
  OTHER_LANGUAGE = col_character(),
  ETHNICITY = col_character(),
  OTHER_ETHNICITY = col_character(),
  RELATIONSHIP_STATUS = col_character(),
  WEIGHT_PRE_PREGNANCY_IN_KG = col_character(),
  EDUCATION = col_character(),
  EMPLOYMENT = col_character(),
  OTHER_EMPLOYMENT = col_character(),
  OCCUPATION_CODE = col_character(),
  PARTNER = col_character(),
  LIVE_TOGETHER = col_character(),
  PARTNER_EDUCATION = col_character(),
  PARTNER_WORKING = col_character(),
  PARTNER_OCCUPATION = col_character(),
  SALARY = col_character(),
  ALLOWANCE = col_character(),
  DOBCHILD1 = col_character(),
  DOBCHILD2 = col_character(),
  DOBCHILD3 = col_character(),
  DOBCHILD4 = col_character(),
  DOBCHILD5 = col_character(),
  DOBCHILD6 = col_character(),
  OTHER_ADULTS = col_character(),
  ADULT1_RELATIONSHIP = col_character(),
  ADULT1_AGE = col_character(),
  ADULT2_RELATIONSHIP = col_character(),
  ADULT2_AGE = col_character(),
  ADULT3_RELATIONSHIP = col_character(),
  ADULT3_AGE = col_character(),
  ADULT4_RELATIONSHIP = col_character(),
  ADULT4_AGE = col_character(),
  HOUSE_TYPE = col_character(),
  HOME_OWN = col_character(),
  HEAT1 = col_character(),
  HEAT2 = col_character(),
  HEAT3 = col_character(),
  HEAT4 = col_character(),
  DOUBLE_GLAZED = col_character(),
  LOFT = col_character(),
  CAVITY = col_character(),
  AGE = col_character(),
  MOULD_VISIBLE = col_character(),
  MM_BATH = col_character(),
  MM_BED = col_character(),
  MM_LIV = col_character(),
  MM_KITCH = col_character(),
  MM_HALL = col_character(),
  MM_FURNISH = col_character(),
  NEIGHBOURS = col_character(),
  SATISFIED_DISSATISFIED = col_character(),
  COMMUNITY_HOME = col_character(),
  HELP_NEED = col_character(),
  SERVICES = col_character(),
  SAFE = col_character(),
  INVOLVED = col_character(),
  SAD = col_character(),
  NERVOUS = col_character(),
  RESTLESS = col_character(),
  HOPELESS = col_character(),
  EFFORT = col_character(),
  WORTHLESS = col_character(),
  TOTAL_K6 = col_character(),
  FOLIC_NOT_TAKEN = col_character(),
  FOLIC_BEFORE = col_character(),
  FOLIC_EARLY = col_character(),
  FOLIC_MID_LATE = col_character(),
  MULTI_NOT_TAKEN = col_character(),
  MULTI_BEFORE = col_character(),
  MULTI_EARLY = col_character(),
  MULTI_MID_LATE = col_character(),
  SUPP_NOT_TAKEN = col_character(),
  SUPP_BEFORE = col_character(),
  SUPP_EARLY = col_character(),
  SUPP_MID_LATE = col_character(),
  OTHER_BEFORE = col_character(),
  OTHER_EARLY = col_character(),
  OTHER_MID_LATE = col_character(),
  SMOKE_ROOM = col_character(),
  SMOKE = col_character(),
  SMOKE_NUMBER = col_character(),
  ALCOHOL = col_character(),
  EARLY_PREG_ALCOHOL = col_character(),
  MID_LATE_PREG_ALCOHOL = col_character(),
  MEDICATION1 = col_character(),
  MEDICATION2 = col_character(),
  MEDICATION3 = col_character(),
  MEDICATION4 = col_character(),
  MEDICATION5 = col_character(),
  MEDICATION6 = col_character()
)

In [8]:
pregnancy <- read_csv(file="data/pregnancy.csv", na=c("", "NA", "."),
                      col_types=pregnancy_spec)

Warning message:
"3 parsing failures.
row col               expected actual                 file
272 AGE no trailing characters    .5  'data/pregnancy.csv'
590 AGE no trailing characters    .8  'data/pregnancy.csv'
669 AGE no trailing characters    .25 'data/pregnancy.csv'
"

If you have problems, use `problems(x)` to get a list:

In [9]:
#head(problems(pregnancy))

  row col expected               actual file
1 272 AGE no trailing characters .5     'data/pregnancy.csv'
2 590 AGE no trailing characters .8     'data/pregnancy.csv'
3 669 AGE no trailing characters .25    'data/pregnancy.csv'

In [10]:
#head(pregnancy)

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 3          NA
2  47        47.2     18/12/1965    30/07/2010 3          NA
3  45        45.1     05/03/1966    12/07/2010 3          1
4 172       172.1     06/03/1967    27/01/2011 2          1
5   8         8.1     24/12/1967    09/03/2010 2          1
6 301       301.1     16/05/1968    27/04/2011 1          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 NA             1         NA              4                   ... NA
2 NA             1         NA              4                   ... NA
3 NA             1         NA              4                   ... NA
4 NA             1         NA              4                   ... 0
5 NA             1         NA              4                   ... NA
6 NA             1         NA              2                   ... 3
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       NA                 NA                    NA          NA
2 0       NA                 NA                    NA          NA
3 0       NA                 NA                    13          NA
4 1       NA                 NA                    NA          NA
5 1       NA                 NA                    13          NA
6 1       NA                 NA                    NA          NA
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 NA          NA          NA          NA
2 NA          NA          NA          NA
3 NA          NA          NA          NA
4 NA          NA          NA          NA
5 NA          NA          NA          NA
6 NA          NA          NA          NA

## __Exercise__: Change a date column to format as a date and a categorical column to format as a factor.

In [ ]:
# col_date('%d/%m/%Y'),
# col_factor(),

<table style="text-align:center;"><tr><td width="100" height="20" style="background-color:greenyellow"></td><td width="100" height="20" style="background-color:hotpink"></td></tr></table>

## __Writing data from R__
There are several options here depending on what you want to save and how you intend to use the saved data. You can write data to a CSV file which most people and systems will be able to import or you can save R data structures which can be loaded, ready-to-use into R and, indeed, you can add multiple data structures to one file to make it really easy to reload your data afresh.

### _Writing to a CSV file_
To write data back out to a CSV file, use <code>write_csv()</code>.

In [10]:
#write_csv(x=pregnancy, path="processed_data/pregnancy.csv")

### _Saving R data as a .RData file_

But better still when working in R, we can export the table as an R file - which is not a tidyverse thing, but worth covering while we're here.

Using <code>save()</code>, you will save the data structure name and reload it to the same name. An advantage of <code>save()</code> is the ability to save more than one object at a time.

In [14]:
#save(pregnancy, file="processed_data/pregnancy.RData", ascii=TRUE)
## Can save multiple objects
#save(pregnancy, pregnancy_reload, file="processed_data/pregnancy.RData")
## To load the data again:
#load("processed_data/pregnancy.RData")
#head(pregnancy)

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 3          NA
2  47        47.2     18/12/1965    30/07/2010 3          NA
3  45        45.1     05/03/1966    12/07/2010 3          1
4 172       172.1     06/03/1967    27/01/2011 2          1
5   8         8.1     24/12/1967    09/03/2010 2          1
6 301       301.1     16/05/1968    27/04/2011 1          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 NA             1         NA              4                   ... NA
2 NA             1         NA              4                   ... NA
3 NA             1         NA              4                   ... NA
4 NA             1         NA              4                   ... 0
5 NA             1         NA              4                   ... NA
6 NA             1         NA              2                   ... 3
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       NA                 NA                    NA          NA
2 0       NA                 NA                    NA          NA
3 0       NA                 NA                    13          NA
4 1       NA                 NA                    NA          NA
5 1       NA                 NA                    13          NA
6 1       NA                 NA                    NA          NA
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 NA          NA          NA          NA
2 NA          NA          NA          NA
3 NA          NA          NA          NA
4 NA          NA          NA          NA
5 NA          NA          NA          NA
6 NA          NA          NA          NA

### _Saving R data as an anonymous data structure (.RDS file)_
If you don't want to save the object name specifically (perhaps you want to share with others), use saveRDS/readRDS to save a data structure to an RDS file (binary or ASCII), ASCII may help comparison in version control.

In [11]:
#saveRDS(pregnancy, "processed_data/pregnancy.rds", ascii=TRUE)
## To load the data again:
#pregnancy_reload <- readRDS("processed_data/pregnancy.rds")

<table style="text-align:center;"><tr><td width="100" height="20" style="background-color:greenyellow"></td><td width="100" height="20" style="background-color:hotpink"></td></tr></table>

## __General purpose read (for non-tabular data)__
In the event that you want to read data that may not be tabular or quite as well formatted, from an unstructured text file for example, we can use <code>read_lines()</code> to read files line by line.

In [11]:
#read_lines(file="data/pregnancy.csv", n_max=10)

 [1] "PARENT_ID,INFANT_ID,DATE_OF_BIRTH,EDD,BIRTH_PLAN,LANGUAGE,OTHER_LANGUAGE,ETHNICITY,OTHER_ETHNICITY,RELATIONSHIP_STATUS,WEIGHT_PRE_PREGNANCY_IN_KG,EDUCATION,EMPLOYMENT,OTHER_EMPLOYMENT,OCCUPATION_CODE,PARTNER,LIVE_TOGETHER,PARTNER_EDUCATION,PARTNER_WORKING,PARTNER_OCCUPATION,SALARY,ALLOWANCE,DOBCHILD1,DOBCHILD2,DOBCHILD3,DOBCHILD4,DOBCHILD5,DOBCHILD6,OTHER_ADULTS,ADULT1_RELATIONSHIP,ADULT1_AGE,ADULT2_RELATIONSHIP,ADULT2_AGE,ADULT3_RELATIONSHIP,ADULT3_AGE,ADULT4_RELATIONSHIP,ADULT4_AGE,HOUSE_TYPE,HOME_OWN,HEAT1,HEAT2,HEAT3,HEAT4,DOUBLE_GLAZED,LOFT,CAVITY,AGE,MOULD_VISIBLE,MM_BATH,MM_BED,MM_LIV,MM_KITCH,MM_HALL,MM_FURNISH,NEIGHBOURS,SATISFIED_DISSATISFIED,COMMUNITY_HOME,HELP_NEED,SERVICES,SAFE,INVOLVED,SAD,NERVOUS,RESTLESS,HOPELESS,EFFORT,WORTHLESS,TOTAL_K6,FOLIC_NOT_TAKEN,FOLIC_BEFORE,FOLIC_EARLY,FOLIC_MID_LATE,MULTI_NOT_TAKEN,MULTI_BEFORE,MULTI_EARLY,MULTI_MID_LATE,SUPP_NOT_TAKEN,SUPP_BEFORE,SUPP_EARLY,SUPP_MID_LATE,OTHER_BEFORE,OTHER_EARLY,OTHER_MID_LATE,SMOKE_ROOM,SMOKE,SMOKE_NUMBER,ALCOHOL,EARLY_PREG_ALCOHOL,MID_LATE_PREG_ALCOHOL,MEDICATION1,MEDICATION2,MEDICATION3,MEDICATION4,MEDICATION5,MEDICATION6"
 [2] "47,47.1,18/12/1965,30/07/2010,3,.,.,1,.,4,66.68,1,2,.,2229,1,.,1,1,3312,7,2,07/11/2003,,,,,,0,.,.,.,.,.,.,.,.,1,2,1,5,.,.,1,1,4,100,.,.,.,.,.,.,2,1,4,.,2,.,.,.,0,0,1,0,0,0,1,0,1,1,1,0,1,1,1,1,0,0,0,.,.,.,6,0,.,0,.,.,.,.,.,.,.,."
 [3] "47,47.2,18/12/1965,30/07/2010,3,.,.,1,.,4,66.68,1,2,.,2229,1,.,1,1,3312,7,2,07/11/2003,,,,,,0,.,.,.,.,.,.,.,.,1,2,1,5,.,.,1,1,4,100,.,.,.,.,.,.,2,1,4,.,2,.,.,.,0,0,1,0,0,0,1,0,1,1,1,0,1,1,1,1,0,0,0,.,.,.,6,0,.,0,.,.,.,.,.,.,.,."
 [4] "45,45.1,05/03/1966,12/07/2010,3,1,.,1,.,4,57.15,4,2,.,4112,1,.,3,7,3411,9,8,29/12/2003,,,,,,0,.,.,.,.,.,.,.,.,3,1,5,.,.,.,1,3,2,105,.,.,.,.,.,.,.,1,2,2,1,3,2,.,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,.,.,.,6,0,.,0,.,.,13,.,.,.,.,."
 [5] "172,172.1,06/03/1967,27/01/2011,2,1,.,1,.,4,64.41,6,1,.,4129,1,.,4,1,.,3,1,,,,,,,0,.,.,.,.,.,.,.,.,3,2,2,5,.,.,1,1,1,65,.,.,.,3,.,.,2,1,1,1,1,1,1,2,1,3,3,1,0,1,9,0,1,1,0,1,0,0,0,1,0,0,0,.,.,.,5,1,0,1,.,.,.,.,.,.,.,."
 [6] "8,8.1,24/12/1967,09/03/2010,2,1,.,1,.,4,65.77,1,5,.,.,1,.,1,1,.,.,3,07/11/2008,,,,,,1,1,50,.,.,.,.,.,.,3,1,2,.,.,.,3,4,4,110,.,.,2,2,.,.,.,1,2,1,4,4,1,.,0,0,3,0,1,0,4,0,0,0,0,0,0,1,1,0,0,0,0,.,.,.,6,0,.,1,.,.,13,.,.,.,.,."
 [7] "301,301.1,16/05/1968,27/04/2011,1,1,.,1,.,2,53.10,3,4,.,.,0,.,.,.,.,1,5,16/05/2000,,,,,,0,.,.,.,.,.,.,.,.,2,2,5,.,.,.,1,1,4,18,.,.,.,.,3,.,2,3,2,.,.,3,2,.,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,.,.,.,6,1,3,1,.,.,.,.,.,.,.,."
 [8] "7,7.1,29/07/1968,04/03/2010,2,1,.,1,.,4,.,3,2,.,3219,1,.,1,1,.,6,2,27/11/2003,04/12/2005,,,,,1,1,36,.,.,.,.,.,.,1,2,1,5,.,.,1,3,3,60,.,4,4,.,.,.,.,2,2,2,2,3,.,.,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,.,.,.,6,0,.,0,.,.,12,.,.,.,.,."
 [9] "451,451.1,09/09/1968,09/03/2012,2,5,Dutch,1,.,4,70.00,1,2,.,.,.,.,1,1,.,6,4,22/02/1999,16/08/2000,25/09/2002,,,,.,1,.,.,.,.,.,.,.,2,2,.,.,.,.,1,1,2,70,.,.,.,.,.,.,2,2,1,1,1,5,1,1,0,2,1,0,1,0,4,0,0,1,0,0,0,1,0,1,0,0,0,.,.,.,6,0,.,0,.,.,2,.,.,.,.,."
[10] "455,455.1,24/04/1969,15/03/2012,3,1,.,1,.,4,82.60,3,1,.,.,.,.,2,1,.,4,3,12/11/2007,,,,,,1,1,36,.,.,.,.,.,.,1,2,.,.,.,.,1,1,1,.,.,.,.,.,.,.,.,1,1,1,5,4,1,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,.,.,.,6,0,.,1,.,.,8,.,.,.,.,."

<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>