<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>

<table style='border-left:10px solid orange;'><tr>
    <td style='padding-left:20px;'>
        <h2><i>Swansea University Medical School</i><br/><b>MSc Health Data Science</b></h2>
        <h3>PMIM-102 Introduction to Scientific Computing in Healthcare</h3>
        <h1><b>Introduction to Programming in R</b></h1>
        <h2><b>3. The Tidyverse</b></h2>
        <h2><i>Part 3: Transforming the data.</i></h2>
        <h3><i>September 2020</i></h3>
        <h3><b>To-do</b></h3>
        <ul>
            <li>Find a nice join example.</li>
        </ul>
    </td>
    <td><img height='300' width='500' src='images/cover.jpg'/></td>
</tr></table>

## __Aim__: Use the tools available in R to manipulate tables of data.

The aim of this session is to concentrate on the core activities in working with large datasets: moving, cleaning and transforming table data to facilitate analyses. Whilst this is possible using base-R, the facilities provided by the libraries in the __Tidyverse__ make it considerably __easier__ and the resulting code __more readable__.

### __A map of where we're going__

1. <b>Introduction</b> - What is the process, the problems with standard R and the structure of 'tidy' data.

1. <b>Acquiring data</b> - Getting data into R from files (<b>readr</b>).

1. <b>Tidying the data</b> - Handling missing data and reshaping the tables (<b>tidyr</b>).

1. <div style="background-color:yellow;"><b>Transforming the data</b> - Selecting and converting the data ready to analyse (<b>dplyr</b>).</div>

1. <b>Working with specific data types in tidyverse</b>: strings (<b>stringr</b>), dates (<b>lubridate</b>), factors (<b>forcats</b>).

1. <b>Plotting &amp; Data visualisation</b> - beyond the simple R plot etc. (<b>ggplot2</b>).

1. <b>Extras</b> - Things worth knowing of so that you can use them if you ever need them.
 * Applying functions and working with lists (purrr).
 * Tidy evaluation (rlang).
 * Communicating your results with a dynamic, R-based website (shiny).

## __Load the Tidyverse__

The first thing to do is make sure the library is loaded. If you have not already installed it, do so not using the <code>install.packages()</code> function.

In [4]:
## install.packages('tidyverse')
#library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.3     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

And load in the pregnancy data to play with.

In [35]:
## library(readr)
#pregnancy <- read_csv(file="data/pregnancy.csv")
#head(pregnancy)

Parsed with column specification:
cols(
  .default = col_character(),
  PARENT_ID = col_double(),
  INFANT_ID = col_double()
)

See spec(...) for full column specifications.

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 3          .
2  47        47.2     18/12/1965    30/07/2010 3          .
3  45        45.1     05/03/1966    12/07/2010 3          1
4 172       172.1     06/03/1967    27/01/2011 2          1
5   8         8.1     24/12/1967    09/03/2010 2          1
6 301       301.1     16/05/1968    27/04/2011 1          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 .              1         .               4                   ... .
2 .              1         .               4                   ... .
3 .              1         .               4                   ... .
4 .              1         .               4                   ... 0
5 .              1         .               4                   ... .
6 .              1         .               2                   ... 3
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       .                  .                     .           .
2 0       .                  .                     .           .
3 0       .                  .                     13          .
4 1       .                  .                     .           .
5 1       .                  .                     13          .
6 1       .                  .                     .           .
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 .           .           .           .
2 .           .           .           .
3 .           .           .           .
4 .           .           .           .
5 .           .           .           .
6 .           .           .           .

## __Transforming the data (dplyr)__

These functions are the workhorse of the Tidyverse and are indispensible. They fall into a number of categories:
* Selecting/deselecting columns (variables)
* Selecting/deselecting rows (cases)
* Manipulating and/or creating new columns
* Joining data frames together

You often find that you base or platform table/data frame is too large or unwieldy to work with and you may find that you need to extract the appropriate data to a separate data frame for processing and then need to recombine the results back into your original data frame.

<img src="images/tidyverse_process.png"/>

## _Choosing columns / Extracting variables_

You can extract or remove specific variables from a table using `select()`. The first parameter you specify is the data frame containing the columns and the remaining parameters are the columns.

In [16]:
#df <- select(pregnancy, PARENT_ID, , DATE_OF_BIRTH, LANGUAGE)
#print(df)

# A tibble: 830 x 3
   PARENT_ID DATE_OF_BIRTH LANGUAGE
       <dbl> <chr>         <chr>
 1        47 18/12/1965    .
 2        47 18/12/1965    .
 3        45 05/03/1966    1
 4       172 06/03/1967    1
 5         8 24/12/1967    1
 6       301 16/05/1968    1
 7         7 29/07/1968    1
 8       451 09/09/1968    5
 9       455 24/04/1969    1
10       194 14/05/1969    .
# ... with 820 more rows

You can remove a column by prefacing its name with a minus sign:

In [14]:
#df <- select(df, -DATE_OF_BIRTH)
#head(df)

  PARENT_ID LANGUAGE
1  47       .
2  47       .
3  45       1
4 172       1
5   8       1
6 301       1

You can also select columns using some helper functions. The following helpers are available:
* contains(match)
* starts_with(match)
* ends_with(match)
* matches(match)
* num_range(prefix, range)
* one_of(...)

In [24]:
#df <- select(pregnancy, PARENT_ID, contains('LANGUAGE'))
#print(df)

# A tibble: 830 x 3
   PARENT_ID LANGUAGE OTHER_LANGUAGE
       <dbl> <chr>    <chr>
 1        47 .        .
 2        47 .        .
 3        45 1        .
 4       172 1        .
 5         8 1        .
 6       301 1        .
 7         7 1        .
 8       451 5        Dutch
 9       455 1        .
10       194 .        .
# ... with 820 more rows

And there's a `select_if()` function that allows you to conditionally select columns. You can, of course, write your own function to implement any condition you like to decide if a columns should be included.

In [25]:
#df <- select_if(df, is.character)
#print(df)

# A tibble: 830 x 2
   LANGUAGE OTHER_LANGUAGE
   <chr>    <chr>
 1 .        .
 2 .        .
 3 1        .
 4 1        .
 5 1        .
 6 1        .
 7 1        .
 8 5        Dutch
 9 1        .
10 .        .
# ... with 820 more rows

### _Pipes_ (magrittr)

The library `magrittr` provides us with 'pipes'. A pipe (written as `%>%`) is an operator that doesn't do anything to the data but slightly changes the way we use functions. It allows us to pass the results of one function call as the first parameter of a second. The Tidyverse has been designed such that the first parameter is always the data frame upon which the function operates.

So, if we want to select a column from a data frame, instead of:

`df <- select(pregnancy, PARENT_ID, contains('LANGUAGE'))`

we can use:

In [ ]:
#df <- pregnancy %>% select(PARENT_ID, contains('LANGUAGE'))

Which might not seem amazing yet, but then we can keep adding functions to the end of the list with more pipes `%>%`:

In [29]:
#pregnancy %>% select(PARENT_ID, contains('LANGUAGE')) %>% head() %>% print()

# A tibble: 6 x 3
  PARENT_ID LANGUAGE OTHER_LANGUAGE
      <dbl> <chr>    <chr>
1        47 .        .
2        47 .        .
3        45 1        .
4       172 1        .
5         8 1        .
6       301 1        .

As we add more `dplyr` functions to our repertoire, you'll find that this becomes truly useful. The result is an incredible increase in the readability of the code.

Instead of (looking ahead a bit at some of the functions we're about to cover):

result <- summarise(group_by(filter(select(df, name, age, status), age > 18), status), n_distinct())
                                    |----- the select ---------|
                             |------------ the filter --------------------|
                    |--------------------- the grouping ---------------------------|
          |------------------------------- the summarise ----------------------------------------|

we can write:

result <- df %>% select(name, age, status) %>% filter(age > 18) %>% group_by(status) %>% summarise(n_distinct())
                 |---------select--------|     |----filter----|     |---grouping---|     |-----summarise-------|

And R will understand when you let this code run over multiple lines as long as you leave the pipe at the end of the line (and this is also useful for adding comments to the code):

result <- df %>%
    # Select important information for adults.
    select(name, age, status) %>%     # Just keep the basic data.
    filter(age > 18) %>%
    # Group by status.
    group_by(status) %>%
    summarise(n_distinct())

## _Summarising the data_

dplyr allows us to summarise data using `summarise(function)` which will apply the function to the table and create new table with the summary data. There are other functions available:
* quantile() --- get the nth quantile
* min()/max() --- minimum and maximum values
* IQR() --- interquartile range
* sd() --- standard deviation
* var() --- variance
* first() --- first value
* last() --- last value
* nth() --- nth value

`summarise(n())` is the same as `count()`.

N.B. We had to convert the AGE column to an integer in the read_csv call via the cols function. To save you having to go back to the start and doing that, you could use the `as.numeric()` function to convert AGE from a character to a number which `mean()` will understand, or, do that to column in the table.

In [36]:
#library(dplyr)
#pregnancy %>% summarise(n())
#pregnancy %>% summarise(mean(AGE, na.rm=TRUE))
#pregnancy %>% summarise(mean(as.numeric(AGE), na.rm=TRUE))
#pregnancy <- pregnancy %>% mutate(AGE=as.numeric(AGE))     # See later for a discussion of 'mutate()'.
#pregnancy %>% summarise(median(as.numeric(AGE), na.rm=TRUE))
#pregnancy %>% summarise(quantile(as.numeric(AGE), 0.75, na.rm=TRUE))
#pregnancy %>% summarise(nth(as.numeric(AGE), 50))

  n()
1 830

Warning message in mean.default(AGE, na.rm = TRUE):
"argument is not numeric or logical: returning NA"

  mean(AGE, na.rm = TRUE)
1 NA

Warning message in mean(as.numeric(AGE), na.rm = TRUE):
"NAs introduced by coercion"

  mean(as.numeric(AGE), na.rm = TRUE)
1 58.95842

Warning message:
"Problem with `mutate()` input `AGE`.
i NAs introduced by coercion
i Input `AGE` is `as.numeric(AGE)`."
Warning message in mask$eval_all_mutate(dots[[i]]):
"NAs introduced by coercion"

  median(as.numeric(AGE), na.rm = TRUE)
1 50.5

  quantile(as.numeric(AGE), 0.75, na.rm = TRUE)
1 90

  nth(as.numeric(AGE), 50)
1 110

With logicals, `mean()` gives the proportion TRUE and `sum()`, the number TRUE (0 = FALSE, everything else = TRUE). For this reason many people will use '1' and '0' as indicators in tables for binary / TRUE and FALSE data.

In [38]:
#pregnancy %>% filter(!is.na(ALCOHOL)) %>% summarise(mean(ALCOHOL!=0))
#pregnancy %>% filter(!is.na(ALCOHOL)) %>% summarise(sum(ALCOHOL!=0))
#pregnancy %>% filter(!is.na(ALCOHOL)) %>% summarise(sum(ALCOHOL==0))

  mean(ALCOHOL != 0)
1 0.3771084

  sum(ALCOHOL != 0)
1 313

  sum(ALCOHOL == 0)
1 517

The summarise function can be applied to all columns with `summarise_all()`, to more than one column with `summarise_at()` or to types of column with `summarise_if()`:

In [54]:
#pregnancy %>% filter(!is.na(AGE)&!is.na(SALARY)) %>% summarise_all(list('mean')) %>% select(AGE, SALARY)
#pregnancy %>% filter(!is.na(AGE)&!is.na(SALARY)) %>% summarise_at(c('AGE', 'SALARY'), mean, na.rm = TRUE)
#pregnancy %>% filter(!is.na(AGE)&!is.na(SALARY)) %>% summarise_if(is.numeric, mean, na.rm = TRUE)

Warning message in mean.default(DATE_OF_BIRTH):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(EDD):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(BIRTH_PLAN):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(LANGUAGE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OTHER_LANGUAGE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ETHNICITY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OTHER_ETHNICITY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(RELATIONSHIP_STATUS):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(WEIGHT_PRE_PREGNANCY_IN_KG):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(EDUCATION):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(EMPLOYMENT):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OTHER_EMPLOYMENT):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OCCUPATION_CODE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(PARTNER):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(LIVE_TOGETHER):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(PARTNER_EDUCATION):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(PARTNER_WORKING):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(PARTNER_OCCUPATION):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SALARY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ALLOWANCE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(DOBCHILD1):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(DOBCHILD2):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(DOBCHILD3):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(DOBCHILD4):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(DOBCHILD5):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(DOBCHILD6):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OTHER_ADULTS):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT1_RELATIONSHIP):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT1_AGE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT2_RELATIONSHIP):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT2_AGE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT3_RELATIONSHIP):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT3_AGE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT4_RELATIONSHIP):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ADULT4_AGE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HOUSE_TYPE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HOME_OWN):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HEAT1):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HEAT2):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HEAT3):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HEAT4):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(DOUBLE_GLAZED):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(LOFT):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(CAVITY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MOULD_VISIBLE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MM_BATH):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MM_BED):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MM_LIV):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MM_KITCH):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MM_HALL):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MM_FURNISH):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(NEIGHBOURS):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SATISFIED_DISSATISFIED):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(COMMUNITY_HOME):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HELP_NEED):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SERVICES):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SAFE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(INVOLVED):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SAD):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(NERVOUS):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(RESTLESS):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(HOPELESS):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(EFFORT):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(WORTHLESS):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(TOTAL_K6):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(FOLIC_NOT_TAKEN):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(FOLIC_BEFORE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(FOLIC_EARLY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(FOLIC_MID_LATE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MULTI_NOT_TAKEN):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MULTI_BEFORE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MULTI_EARLY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MULTI_MID_LATE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SUPP_NOT_TAKEN):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SUPP_BEFORE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SUPP_EARLY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SUPP_MID_LATE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OTHER_BEFORE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OTHER_EARLY):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(OTHER_MID_LATE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SMOKE_ROOM):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SMOKE):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(SMOKE_NUMBER):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(ALCOHOL):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(EARLY_PREG_ALCOHOL):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MID_LATE_PREG_ALCOHOL):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MEDICATION1):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MEDICATION2):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MEDICATION3):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MEDICATION4):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MEDICATION5):
"argument is not numeric or logical: returning NA"
Warning message in mean.default(MEDICATION6):
"argument is not numeric or logical: returning NA"

  AGE      SALARY
1 58.95842 NA

Warning message in mean.default(SALARY, na.rm = TRUE):
"argument is not numeric or logical: returning NA"

  AGE      SALARY
1 58.95842 NA

  PARENT_ID INFANT_ID AGE
1 392.9269  393.0291  58.95842

Frequently, we use `summarise()` in conjunction with `group_by()` to provide information about groups of cases defined by the value of a categorical variable. When we have finished with the grouping, we can use ungroup() to revert and continue with our processing on the whole table.

In [43]:
#pregnancy %>% filter(!is.na(AGE)&!is.na(SALARY)) %>% group_by(EDUCATION) %>% summarise(n())
#pregnancy %>% filter(!is.na(AGE)&!is.na(SALARY)) %>% group_by(EDUCATION) %>% summarise_if(is.numeric, mean, na.rm = TRUE)

`summarise()` ungrouping output (override with `.groups` argument)

  EDUCATION n()
1 .          23
2 1         123
3 2         142
4 3          75
5 4          66
6 5          95
7 6          34
8 7          13
9 8          17

  EDUCATION PARENT_ID INFANT_ID AGE
1 .         239.3478  239.4522  64.56522
2 1         383.4390  383.5407  61.99024
3 2         398.8310  398.9317  59.24648
4 3         418.0400  418.1400  47.61333
5 4         452.5303  452.6364  65.89394
6 5         389.6000  389.7021  62.52368
7 6         382.9412  383.0471  47.23529
8 7         443.6154  443.7231  52.61538
9 8         277.6471  277.7471  58.52941

If you want to order the data by cases, use `arrange()` and `desc()` to reverse the default ascending order.

In [47]:
#pregnancy %>% arrange(DATE_OF_BIRTH) %>% head()
#pregnancy %>% arrange(desc(DATE_OF_BIRTH)) %>% head()

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1 757       757.1     31/12/1984    17/04/2014 2          1
2 361       361.1     31/12/1976    25/09/2011 1          1
3 200       200.1     31/08/1991    10/10/2010 2          1
4  53        53.1     31/08/1982    21/08/2010 2          1
5 520       520.1     31/07/1992    19/07/2012 5          1
6 625       625.1     31/07/1991    14/05/2013 8          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 .              1         .               4                   ... .
2 .              1         .               4                   ... .
3 .              1         .               3                   ... .
4 .              1         .               .                   ... .
5 .              1         .               2                   ... 60
6 .              1         .               2                   ... .
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 1       6                  4                     .           .
2 1       .                  .                     .           .
3 0       .                  .                     13          .
4 1       .                  .                     7           .
5 0       .                  .                     .           .
6 0       .                  .                     13          .
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 .           .           .           .
2 .           .           .           .
3 .           .           .           .
4 .           .           .           .
5 .           .           .           .
6 .           .           .           .

 Note here that we are ordering a character field not a date field. We need to convert to a date (and that means we need to specify a date format) to get the correct date-wise ordering.

In [52]:
#pregnancy %>% arrange(desc(as.Date(DATE_OF_BIRTH, format='%d/%m/%Y'))) %>% head()

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1 594       594.1     23/02/1996    28/08/2012 4          1
2 812       812.1     06/08/1995    26/05/2014 3          1
3 698       698.1     27/06/1995    17/08/2013 5          1
4 508       508.1     28/01/1995    19/06/2012 4          1
5 540       540.1     03/12/1994    05/09/2012 3          1
6 538       538.1     27/11/1994    30/01/2013 7          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 .              1         .               2                   ... .
2 .              1         .               1                   ... .
3 .              1         .               3                   ... .
4 .              1         .               3                   ... .
5 Welsh          1         .               1                   ... .
6 .              1         .               2                   ... .
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       7                  7                     .           .
2 0       .                  .                     .           .
3 0       .                  .                     13          .
4 0       .                  .                     13          .
5 0       .                  .                     .           .
6 0       .                  .                     .           .
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 .           .           .           .
2 .           .           .           .
3 .           .           .           .
4 .           .           .           .
5 .           .           .           .
6 .           .           .           .

## _Extracting and sorting cases_

One of the most common extraction calls in dplyr is `filter()` which allows you to apply a conditional expression to the values in a column and select only those which result in a TRUE value. The following operators are commonly used with `filter()`:

`<`, `>`, `<=`, `>=`, `is.na()`, `!`, `%in%`, `|`, `&`, `xor()`

Other functions for selecting cases are:
* distinct() --- remove any rows with a duplicate value
* sample_n() --- sample n cases
* sample_frac() --- sample a fraction of the cases
* slice() --- select the specified rows
* top_n() --- select and sort the top n rows (of each group if grouped)

The cases can be sorted using `arrange()` with `desc()` to reverse the order.

New cases (rows) can be added using `add_row()`.

In [55]:
#num_cases <- (pregnancy %>% count())[[1]]
#num_parents <- (pregnancy %>% distinct(PARENT_ID) %>% count())[[1]]
#cat('No of cases = ', num_cases, ', no of distinct parents = ', num_parents, '.', sep='')
#pregnancy %>% sample_n(10)
#pregnancy %>% sample_frac(0.01)
#pregnancy %>% top_n(1, LANGUAGE) %>% select(PARENT_ID, EDUCATION, LANGUAGE) %>% arrange(EDUCATION, PARENT_ID)

No of cases = 830, no of distinct parents = 816.

   PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  318       318.1     26/12/1982    15/06/2011 2          1
2  634       634.1     16/03/1977    22/02/2013 1          1
3  581       581.1     23/11/1981    12/11/2012 2          1
4  209       209.1     08/03/1974    15/10/2010 3          .
5  238       238.1     10/01/1991    28/02/2011 3          1
6  231       231.1     30/09/1986    22/01/2011 7          1
7  165       165.1     08/11/1986    29/11/2010 2          1
8  333       333.1     22/07/1982    08/07/2011 3          1
9  246       246.1     20/12/1981    25/12/2010 2          1
10 114       114.1     02/08/1987    01/11/2010 2          1
   OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ...
1  .              1         .               2                   ...
2  .              1         .               4                   ...
3  .              1         .               4                   ...
4  .              7         .               4                   ...
5  .              1         .               3                   ...
6  .              1         .               4                   ...
7  .              .         .               3                   ...
8  .              1         .               2                   ...
9  .              1         .               3                   ...
10 .              1         .               3                   ...
   SMOKE_NUMBER ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1
1  .            0       .                  .                     .
2  .            1       7                  4                     2
3  .            1       7                  5                     .
4  .            0       .                  .                     2
5  .            1       .                  .                     13
6  .            0       .                  .                     16
7  .            0       .                  .                     13
8  3            0       .                  .                     .
9  .            0       .                  .                     .
10 .            0       .                  .                     .
   MEDICATION2 MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1  .           .           .           .           .
2  .           .           .           .           .
3  .           .           .           .           .
4  .           .           .           .           .
5  .           .           .           .           .
6  .           .           .           .           .
7  2           5           .           .           .
8  .           .           .           .           .
9  .           .           .           .           .
10 .           .           .           .           .

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1 346       346.1     15/02/1980    06/08/2011 2          5
2 771       771.1     19/09/1973    18/11/2013 2          1
3 207       207.1     22/03/1989    02/04/2011 2          1
4 366       366.1     04/04/1988    06/09/2011 3          1
5 298       298.1     06/01/1988    08/05/2011 4          1
6 399       399.1     03/11/1971    30/08/2011 2          1
7 143       143.1     14/09/1974    31/08/2010 1          1
8 296       296.1     06/07/1988    18/03/2011 2          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 .              5         .               4                   ... .
2 .              1         .               4                   ... .
3 .              1         .               3                   ... .
4 .              1         .               3                   ... 20
5 .              1         .               2                   ... .
6 .              1         .               3                   ... .
7 .              1         .               3                   ... 2
8 .              1         .               3                   ... 10
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       .                  .                     .           .
2 0       7                  7                     13          15
3 0       .                  .                     .           .
4 0       .                  .                     13          5
5 0       .                  .                     .           .
6 0       .                  .                     13          .
7 1       .                  .                     .           .
8 1       .                  .                     5           .
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 .           .           .           .
2 .           .           .           .
3 .           .           .           .
4 .           .           .           .
5 .           .           .           .
6 .           .           .           .
7 .           .           .           .
8 .           .           .           .

   PARENT_ID EDUCATION LANGUAGE
1   44       1         5
2   55       1         5
3  107       1         5
4  346       1         5
5  424       1         5
6  439       1         5
7  451       1         5
8  585       1         5
9  239       2         5
10 313       2         5
11 363       2         5
12 436       2         5
13 488       2         5
14 245       3         5
15 285       3         5
16 442       3         5
17 197       5         5
18 388       7         5
19 381       8         5

## _Generating new variables_

Taking one or more existing variables and generating new ones is the the basis of most analyses. We use `mutate()` to create a new column (at the right-hand end of the table) and `transmute()` to create a new table. Both functions take an expression combining the values of existing columns to generate the new data.

In [59]:
#pregnancy <- pregnancy %>% mutate(SALARY=as.numeric(SALARY), AGE=as.numeric(AGE))
#pregnancy %>% mutate(SALARY_PER_AGE=SALARY/AGE) %>% head()
#pregnancy %>% mutate(SALARY_PER_AGE=SALARY/AGE) %>% select(PARENT_ID, INFANT_ID, SALARY_PER_AGE) %>% head()
#pregnancy %>% transmute(PARENT_ID, SALARY_PER_AGE=SALARY/AGE) %>% head()

Warning message:
"Problem with `mutate()` input `SALARY`.
i NAs introduced by coercion
i Input `SALARY` is `as.numeric(SALARY)`."
Warning message in mask$eval_all_mutate(dots[[i]]):
"NAs introduced by coercion"

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 3          .
2  47        47.2     18/12/1965    30/07/2010 3          .
3  45        45.1     05/03/1966    12/07/2010 3          1
4 172       172.1     06/03/1967    27/01/2011 2          1
5   8         8.1     24/12/1967    09/03/2010 2          1
6 301       301.1     16/05/1968    27/04/2011 1          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... ALCOHOL
1 .              1         .               4                   ... 0
2 .              1         .               4                   ... 0
3 .              1         .               4                   ... 0
4 .              1         .               4                   ... 1
5 .              1         .               4                   ... 1
6 .              1         .               2                   ... 1
  EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2 MEDICATION3
1 .                  .                     .           .           .
2 .                  .                     .           .           .
3 .                  .                     13          .           .
4 .                  .                     .           .           .
5 .                  .                     13          .           .
6 .                  .                     .           .           .
  MEDICATION4 MEDICATION5 MEDICATION6 SALARY_PER_AGE
1 .           .           .           0.07000000
2 .           .           .           0.07000000
3 .           .           .           0.08571429
4 .           .           .           0.04615385
5 .           .           .                   NA
6 .           .           .           0.05555556

  PARENT_ID INFANT_ID SALARY_PER_AGE
1  47        47.1     0.07000000
2  47        47.2     0.07000000
3  45        45.1     0.08571429
4 172       172.1     0.04615385
5   8         8.1             NA
6 301       301.1     0.05555556

  PARENT_ID SALARY_PER_AGE
1  47       0.07000000
2  47       0.07000000
3  45       0.08571429
4 172       0.04615385
5   8               NA
6 301       0.05555556

There are many functions you can use in creating the expression for the (trans)mutation:

|function|Description|
|---|---|
| _Offsets_ | These are useful for checking changes between cases |
| lag() | Offset the elements by +1 |
| lead() | Offset the elements by -1 |
| _Cumulatives_ | |
| cummall(), cumany()| Do as their name suggests |
| cummax(), cummin() | |
| cummean(), cummprod() | |
| _Rankings_ | |
| cume_dist() | Proportion of all values <= |
| dense_rank() | rank with ties = min, no gaps |
| min_rank() | rank with ties = min |
| ntile() | bins into n bins |
| percent_rank() | min_rank scaled to \[0,1\] |
| row_number() | |
| _Maths_ | |
| arithmetic, logical operators and functions | |
| _Control_ | |
| between(left, right) | between or equal to left and right |
| if_else(condition, iftrue, iffalse) | element-wise check |
| ifelse() | can be used here and has slightly different behaviour |
| case_when() | multi-case if_else |
| na_if() | replace specific values with NA |
| pmax(), pmin() | element-wise max and min |
| recode() | vectorised switch |
| recode_factor() | vectorised switch for factors |

In [60]:
#pregnancy %>% select(PARENT_ID, AGE) %>% filter(!is.na(AGE)) %>% head()
#pregnancy %>% transmute(PARENT_ID, SEPARATION=ifelse(PARENT_ID==lag(PARENT_ID), as.integer(AGE-lag(AGE)), NA)) %>% head()
#pregnancy %>% transmute(PARENT_ID, SEPARATION=ifelse(PARENT_ID==lead(PARENT_ID), as.integer(AGE-lead(AGE)), NA)) %>% head()
#pregnancy %>% transmute(PARENT_ID, RANK=min_rank(PARENT_ID)) %>% arrange(RANK) %>% filter(PARENT_ID!=RANK) %>% head()

  PARENT_ID AGE
1  47       100
2  47       100
3  45       105
4 172        65
5   8       110
6 301        18

  PARENT_ID SEPARATION
1  47       NA
2  47        0
3  45       NA
4 172       NA
5   8       NA
6 301       NA

  PARENT_ID SEPARATION
1  47        0
2  47       NA
3  45       NA
4 172       NA
5   8       NA
6 301       NA

  PARENT_ID RANK
1 26        27
2 27        28
3 28        29
4 29        30
5 30        31
6 31        32

There are several additional `mutate` functions to simplify processing:

* `mutate_all` --- apply the specified functions to all columns. Specify the functions to be used in a list(name-subscript=function) e.g. `list(Logged=log)`.
* `mutate_at` --- apply the specified functions to the specified columns/variables. Use `funs()` as above and `vars()` e.g. `vars(PARENT_ID)` to select variables.
* `mutate_if` --- apply functions to variables of a specified type, e.g. `mutate_if(pregnancy, is.numeric, funs(log(.))`

You can also use other functions to achieve similar goals, such as `add_column()` and `rename()`.

In [64]:
#pregnancy %>% mutate_if(is.numeric, list(Logged=log)) %>% select_if(is.numeric) %>% head()

  PARENT_ID INFANT_ID SALARY AGE PARENT_ID_Logged INFANT_ID_Logged
1  47        47.1      7     100 3.850148         3.852273
2  47        47.2      7     100 3.850148         3.854394
3  45        45.1      9     105 3.806662         3.808882
4 172       172.1      3      65 5.147494         5.148076
5   8         8.1     NA     110 2.079442         2.091864
6 301       301.1      1      18 5.707110         5.707442
  SALARY_Logged AGE_Logged
1 1.945910      4.605170
2 1.945910      4.605170
3 2.197225      4.653960
4 1.098612      4.174387
5       NA      4.700480
6 0.000000      2.890372

## _Bringing the Data Back Together - Combining Tables_

A very useful mechanism is to be able to process data in a smaller table and then recombine with the original table or a results table once the analysis is complete. To do this we need to be able to select the data we want (see `select` and `transmute`, above), and put them back together - for which we use the mutating joins and filtering joins.

In their simplest forms you can tack two data frames together using `bind_cols()` and `bind_rows()`. In both cases, you need to ensure that the two section exactly correspond - same number of rows for bind_cols() and columns for bind_rows() and that the rows and columns respectively are in the same order.

There are similar functions in base-R, `rbind()` and `cbind()`.

A more flexible option is provided by the `joins`. These are very like (if not identical to) joins in SQL. Use the `by=c('name', 'name')` parameter to specify the variables to match on or to specify which columns to match if they are different: `by=c('name-in-x' = 'name-in-y')`.

If a variable exists in both tables, and is not used for the matching, R will produce two variables one with a `.x` and one with a `.y`. You can specify alternatives using the `suffix` parameter (`suffix=c('-1', '-2')`).

| Join | Description |
|---|---|
| _Mutating Joins_ | |
| left_join() | Join matching values from y to x |
| right_join() | Join matching values from x to y |
| inner_join() | Join data keeping only the rows with matches |
| full_join() | Join all data, all rows, all values |
| _Filtering Joins_ | |
| semi_join() | Return the rows in x that have a match in y. |
| anti_join() | Return the rows in x that don't have a match in y. |

Be very careful with joins that you check the resulting number of rows is what you expect it to be and that you haven't just introduced duplicates.

In [65]:
#table1 <- pregnancy %>% select(PARENT_ID, contains('DOB')) %>% filter(!is.na(DOBCHILD4))
#table1 %>% distinct(PARENT_ID) %>% count()
#table2 <- pregnancy %>% select(PARENT_ID, contains('LANGUAGE'))
#table2 %>% distinct(PARENT_ID) %>% count()
#table3 <- table1 %>% left_join(table2, by='PARENT_ID')
#table3 %>% head()

  n
1 16

  n
1 816

  PARENT_ID DOBCHILD1  DOBCHILD2  DOBCHILD3  DOBCHILD4  DOBCHILD5 DOBCHILD6
1 607       01/10/1997 14/01/1999 14/03/2006 05/11/2007 NA        NA
2 233       02/10/1995 01/01/1993 01/12/1997 04/02/2009 NA        NA
3 794       02/03/1995 16/02/1996 07/09/1998 28/08/1999 NA        NA
4 434       05/11/1993 24/12/1997 27/05/2001 21/01/2010 NA        NA
5 344       04/04/1994 21/07/2000 12/08/2006 28/07/2007 NA        NA
6 431       07/08/2001 21/09/2004 22/09/2006 22/06/2010 NA        NA
  LANGUAGE OTHER_LANGUAGE
1 1        .
2 4        .
3 1        .
4 4        .
5 1        .
6 1        .

## __Group Exercise__: Process the `pregnancy` dataset.
Consider the data, what do we want to do?

<table style="text-align:center;"><tr><td width="100" height="20" style="background-color:greenyellow"></td><td width="100" height="20" style="background-color:hotpink"></td></tr></table>

<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>