<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>

<table style='border-left:10px solid orange;'><tr>
    <td style='padding-left:20px;'>
        <h2><i>Swansea University Medical School</i><br/><b>MSc Health Data Science</b></h2>
        <h3>PMIM-102 Introduction to Scientific Computing in Healthcare</h3>
        <h1><b>Introduction to Programming in R</b></h1>
        <h2><b>3. The Tidyverse</b></h2>
        <h2><i>Part 2: Tidying the data.</i></h2>
        <h3><i>September 2020</i></h3>
        <h3><b>To-do</b></h3>
        <ul>
            <li>Find a challenge dataset for the tidyr functions.</li>
        </ul>
    </td>
    <td><img height='300' width='500' src='images/cover.jpg'/></td>
</tr></table>

## __Aim__: Use the tools available in R to manipulate tables of data.

The aim of this session is to concentrate on the core activities in working with large datasets: moving, cleaning and transforming table data to facilitate analyses. Whilst this is possible using base-R, the facilities provided by the libraries in the __Tidyverse__ make it considerably __easier__ and the resulting code __more readable__.

### __A map of where we're going__

1. <b>Introduction</b> - What is the process, the problems with standard R and the structure of 'tidy' data.

1. <b>Acquiring data</b> - Getting data into R from files (<b>readr</b>).

1. <div style="background-color:yellow;"><b>Tidying the data</b> - Handling missing data and reshaping the tables (<b>tidyr</b>).</div>

1. <b>Transforming the data</b> - Selecting and converting the data ready to analyse (<b>dplyr</b>).

1. <b>Working with specific data types in tidyverse</b>: strings (<b>stringr</b>), dates (<b>lubridate</b>), factors (<b>forcats</b>).

1. <b>Plotting &amp; Data visualisation</b> - beyond the simple R plot etc. (<b>ggplot2</b>).

1. <b>Extras</b> - Things worth knowing of so that you can use them if you ever need them.
 * Applying functions and working with lists (purrr).
 * Tidy evaluation (rlang).
 * Communicating your results with a dynamic, R-based website (shiny).

## __Load the Tidyverse__

The first thing to do is make sure the library is loaded. If you have not already installed it, do so not using the <code>install.packages()</code> function.

In [2]:
## install.packages('tidyverse')
#library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.3     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## __Making data tidy (tidyr)__

[See the reverse of the readr cheatsheet.](https://github.com/rstudio/cheatsheets/raw/master/data-import.pdf)

### _Missing data_
Missing data is not necessarily missing information - child maltreatment often leads to a lack of visits to GPs etc. so we might need to find a way to indicate zero codes. More generally, however, we will be using data that is not collected perfectly by people whose under-pressure primary job is not to collect for us so we will, even in well-curated datasets, come across missing data (NA in R).

There are some computation techniques which we may cover (time-permitting) in the Health Data Modelling module (PMIM202) which are applicable in certain circumstances and use Multiple Imputation to reconstruct missing data from the other values that are present. To do this we need to know that this is a valid, unbiassed thing to do and that is not straightfoward. Here we'll consider just the case of cleaning up the dataset rather than attempting to reconstruct it.

We may just keep these cases and omit them in specific analyses or we may need to do something with a specific column. There are three obvious things we might so with NAs in a column (and you can probably imagine a number of others):

* delete the cases with missing data
* replace all values in the column with a specified value
* work down the column filling any missing value with the last preceding value

### _Dropping and filling data_
<code>drop_na()</code> will, as expected drop either all rows with an NA or all rows with an NA in a specific column. <code>replace_na()</code> will replace NAs in columns with specified values and <code>fill()</code> will fill missing values with the last preceding value (useful for sequences or grouped data, perhaps).

In [12]:
## library(tidyr)
#df <- data.frame(creature=c('werewolf', 'zombie', 'vampyr', 'troll', 'jabberwocky'), sightings=c(6, 120, NA, 1, 0), victims=c(32, 27, NA, NA, 1012))
#df <- df[order(df$sightings), ]
#print(df)

#print(drop_na(df, sightings))
#print(drop_na(df))

#print(replace_na(df, list(sightings=1, victims=0)))

#print(fill(df, victims))

     creature sightings victims
5 jabberwocky         0    1012
4       troll         1      NA
1    werewolf         6      32
2      zombie       120      27
3      vampyr        NA      NA
     creature sightings victims
5 jabberwocky         0    1012
4       troll         1      NA
1    werewolf         6      32
2      zombie       120      27
     creature sightings victims
5 jabberwocky         0    1012
1    werewolf         6      32
2      zombie       120      27
     creature sightings victims
1 jabberwocky         0    1012
2       troll         1    1012
3    werewolf         6      32
4      zombie       120      27
5      vampyr        NA      27
     creature sightings victims
5 jabberwocky         0    1012
4       troll         1       0
1    werewolf         6      32
2      zombie       120      27
3      vampyr         1       0

### _Expanding data to include missing cases_
We can expand the cases to include combinations that are missing.

In [3]:
#df <- data.frame(weapon=c('sword', 'axe', 'spear'), material=c('diamond', 'iron', 'bronze'), size=c('two-hand', 'one-hand', 'assassin'), count=c(1, 2, 3))
#print(df)
#complete(df, weapon, material, fill=list(size='assassin'))
#expand(df, weapon, material, size)

  weapon material     size count
1  sword  diamond two-hand     1
2    axe     iron one-hand     2
3  spear   bronze assassin     3

  weapon material size     count
1 axe    bronze   assassin NA
2 axe    diamond  assassin NA
3 axe    iron     one-hand  2
4 spear  bronze   assassin  3
5 spear  diamond  assassin NA
6 spear  iron     assassin NA
7 sword  bronze   assassin NA
8 sword  diamond  two-hand  1
9 sword  iron     assassin NA

   weapon material size
1  axe    bronze   assassin
2  axe    bronze   one-hand
3  axe    bronze   two-hand
4  axe    diamond  assassin
5  axe    diamond  one-hand
6  axe    diamond  two-hand
7  axe    iron     assassin
8  axe    iron     one-hand
9  axe    iron     two-hand
10 spear  bronze   assassin
11 spear  bronze   one-hand
12 spear  bronze   two-hand
13 spear  diamond  assassin
14 spear  diamond  one-hand
15 spear  diamond  two-hand
16 spear  iron     assassin
17 spear  iron     one-hand
18 spear  iron     two-hand
19 sword  bronze   assassin
20 sword  bronze   one-hand
21 sword  bronze   two-hand
22 sword  diamond  assassin
23 sword  diamond  one-hand
24 sword  diamond  two-hand
25 sword  iron     assassin
26 sword  iron     one-hand
27 sword  iron     two-hand

### _Extracting multiple values from one column into one or multiple columns_
Occasionally we will get data where two values have been combined in one column (usually for convenience or brevity). For example, we might get a region and year as 'Asia/2017' or just a series of values 'enrolled/submitted/passed/graduated'. We might then want to split these values as separate rows or as separate columns. These can be split into separate columns using <code>separate()</code> or into rows in the existing column using <code>separate_rows()</code>.

In [5]:
#df <- data.frame(episode=c(1, 1, 1), attack=c(1, 2, 3), kills=c('1/5', '3/7', '1/3'))
#print(df)
#print(separate(df, kills, into=c('red-shirts', 'total-crew-at-risk')))
#print(separate_rows(df, kills))

  episode attack kills
1       1      1   1/5
2       1      2   3/7
3       1      3   1/3
  episode attack red-shirts total-crew-at-risk
1       1      1          1                  5
2       1      2          3                  7
3       1      3          1                  3
# A tibble: 6 x 3
  episode attack kills
    <dbl>  <dbl> <chr>
1       1      1 1
2       1      1 5
3       1      2 3
4       1      2 7
5       1      3 1
6       1      3 3

### _Compressing data from multiple cells into one_
We can do the reverse and combine the cells into a single cell with a separator character using <code>unite()</code>.

In [6]:
#print(unite(df, episode, attack, col="event", sep="#"))

  event kills
1   1#1   1/5
2   1#2   3/7
3   1#3   1/3

### _Reshaping data - expanding columns with categories into multiple columns for each category_
Often you will receive data with a column that contains multiple rows for the same case listing categories that apply to that case. To make this tidy, we often want to spread these categories across multiple columns so that we end up (or work towards ending up) with one row for each case and one column for each category.
The tidyverse lets us do this with <code>spread()</code>. You need to specify the data frame, the column that contains the categories (the categories will become the new column names) and the data that needs to be included in each category.

In [15]:
#df <- data.frame(event=c('1#1', '1#1', '1#1', '1#2', '1#2', '1#2', '2#1', '2#1', '2#1'), rank=rep(c('redshirts', 'yellowshirts', 'blueshirts')),
#                 kills=c(1, 1, 0, 3, 1, 0, 5, 1, 0))
#print(df)
#print(spread(df, rank, kills))

  event         rank kills
1   1#1    redshirts     1
2   1#1 yellowshirts     1
3   1#1   blueshirts     0
4   1#2    redshirts     3
5   1#2 yellowshirts     1
6   1#2   blueshirts     0
7   2#1    redshirts     5
8   2#1 yellowshirts     1
9   2#1   blueshirts     0
  event blueshirts redshirts yellowshirts
1   1#1          0         1            1
2   1#2          0         3            1
3   2#1          0         5            1

### _Reshaping data - brining columns together into one_
You can gather data that has been organised in multiple columns of similar data into multiple rows with two columns, the first of which contains the name of the column and the second the value from that column for that row.

In [7]:
#df <- data.frame(event=c('1#1', '1#2', '2#1'), redshirts=c(1, 3, 5), yellowshirts=c(1, 1, 1), blueshirts=c(0, 0, 0))
#print(df)
#print(gather(df, redshirts, yellowshirts, blueshirts, key='rank', value='kills'))

  event redshirts yellowshirts blueshirts
1   1#1         1            1          0
2   1#2         3            1          0
3   2#1         5            1          0
  event         rank kills
1   1#1    redshirts     1
2   1#2    redshirts     3
3   2#1    redshirts     5
4   1#1 yellowshirts     1
5   1#2 yellowshirts     1
6   2#1 yellowshirts     1
7   1#1   blueshirts     0
8   1#2   blueshirts     0
9   2#1   blueshirts     0

## __Exercise__: Practice separating/uniting and gathering/spreading.

1. Use `gather` to bring all the child date of births into a single 'Children' column with date of birth in a column, 'DOBs'.
1. Similarly bring the medications into a pair of columns, 'Medication' and Code'.
1. Unite the adult relationships and ages with a '/' separator.
1. Bring those together into a pair of columns, 'Adults' and 'Rel-Age'.
1. Create a spread from the BIRTH-PLAN (to create columns 1, 2, 2,3, 4 etc.) with values of EDUCATION.

In [32]:
# p <- gather(pregnancy, DOBCHILD1, DOBCHILD2, DOBCHILD3, DOBCHILD4, DOBCHILD5, DOBCHILD6, key='Children', value='DOBs')
# p <- gather(p, MEDICATION1, MEDICATION2, MEDICATION3, MEDICATION4, MEDICATION5, MEDICATION6, key='Medication', value='Code')
# p <- unite(p, ADULT1_RELATIONSHIP, ADULT1_AGE, col='Adult1', sep='/')
# p <- unite(p, ADULT2_RELATIONSHIP, ADULT2_AGE, col='Adult2', sep='/')
# p <- unite(p, ADULT3_RELATIONSHIP, ADULT3_AGE, col='Adult3', sep='/')
# p <- unite(p, ADULT4_RELATIONSHIP, ADULT4_AGE, col='Adult4', sep='/')
# p <- gather(p, Adult1, Adult2, Adult3, Adult4, key='Adults', value='Rel-Age')
# head(p[order(p$PARENT_ID),], 12)

   PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  1         1.1       30/03/1987    09/12/2009 2          1
2  1         1.1       30/03/1987    09/12/2009 2          1
3  1         1.1       30/03/1987    09/12/2009 2          1
4  1         1.1       30/03/1987    09/12/2009 2          1
5  1         1.1       30/03/1987    09/12/2009 2          1
6  1         1.1       30/03/1987    09/12/2009 2          1
7  1         1.1       30/03/1987    09/12/2009 2          1
8  1         1.1       30/03/1987    09/12/2009 2          1
9  1         1.1       30/03/1987    09/12/2009 2          1
10 1         1.1       30/03/1987    09/12/2009 2          1
11 1         1.1       30/03/1987    09/12/2009 2          1
12 1         1.1       30/03/1987    09/12/2009 2          1
   OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ...
1  NA             1         NA              3                   ...
2  NA             1         NA              3                   ...
3  NA             1         NA              3                   ...
4  NA             1         NA              3                   ...
5  NA             1         NA              3                   ...
6  NA             1         NA              3                   ...
7  NA             1         NA              3                   ...
8  NA             1         NA              3                   ...
9  NA             1         NA              3                   ...
10 NA             1         NA              3                   ...
11 NA             1         NA              3                   ...
12 NA             1         NA              3                   ...
   SMOKE_NUMBER ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL Children
1  NA           0       NA                 NA                    DOBCHILD1
2  NA           0       NA                 NA                    DOBCHILD2
3  NA           0       NA                 NA                    DOBCHILD3
4  NA           0       NA                 NA                    DOBCHILD4
5  NA           0       NA                 NA                    DOBCHILD5
6  NA           0       NA                 NA                    DOBCHILD6
7  NA           0       NA                 NA                    DOBCHILD1
8  NA           0       NA                 NA                    DOBCHILD2
9  NA           0       NA                 NA                    DOBCHILD3
10 NA           0       NA                 NA                    DOBCHILD4
11 NA           0       NA                 NA                    DOBCHILD5
12 NA           0       NA                 NA                    DOBCHILD6
   DOBs       Medication  Code Adults Rel-Age
1  12/12/2005 MEDICATION1 NA   Adult1 NA/NA
2  NA         MEDICATION1 NA   Adult1 NA/NA
3  NA         MEDICATION1 NA   Adult1 NA/NA
4  NA         MEDICATION1 NA   Adult1 NA/NA
5  NA         MEDICATION1 NA   Adult1 NA/NA
6  NA         MEDICATION1 NA   Adult1 NA/NA
7  12/12/2005 MEDICATION2 NA   Adult1 NA/NA
8  NA         MEDICATION2 NA   Adult1 NA/NA
9  NA         MEDICATION2 NA   Adult1 NA/NA
10 NA         MEDICATION2 NA   Adult1 NA/NA
11 NA         MEDICATION2 NA   Adult1 NA/NA
12 NA         MEDICATION2 NA   Adult1 NA/NA

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        LANGUAGE OTHER_LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 NA       NA
2  47        47.2     18/12/1965    30/07/2010 NA       NA
3  45        45.1     05/03/1966    12/07/2010 1        NA
4 172       172.1     06/03/1967    27/01/2011 1        NA
5   8         8.1     24/12/1967    09/03/2010 1        NA
6 301       301.1     16/05/1968    27/04/2011 1        NA
  ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS WEIGHT_PRE_PREGNANCY_IN_KG ...
1 1         NA              4                   66.68                      ...
2 1         NA              4                   66.68                      ...
3 1         NA              4                   57.15                      ...
4 1         NA              4                   64.41                      ...
5 1         NA              4                   65.77                      ...
6 1         NA              2                   53.10                      ...
  1  2  2,3 3  4  5  6  7  8  <NA>
1 NA NA NA  1  NA NA NA NA NA NA
2 NA NA NA  1  NA NA NA NA NA NA
3 NA NA NA  4  NA NA NA NA NA NA
4 NA 6  NA  NA NA NA NA NA NA NA
5 NA 1  NA  NA NA NA NA NA NA NA
6 3  NA NA  NA NA NA NA NA NA NA

       1  2  3  4  5  6  7  8
  1   18 12  9  7  5  4  2  2
  2   60 70 30 33 66 21  9 16
  2,3  0  0  0  1  1  0  0  0
  3   33 50 26 23 46 14  7 17
  4    9 12 18 12 19  3  6  7
  5   10 10 11 11 15  0  3  6
  6    0  1  0  0  0  0  0  0
  7    8 11  8  2  8  1  2  2
  8    1  1  0  0  2  1  0  0

<table style="text-align:center;"><tr><td width="100" height="20" style="background-color:greenyellow"></td><td width="100" height="20" style="background-color:hotpink"></td></tr></table>

<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>