<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>

<table style='border-left:10px solid orange;'><tr>
    <td style='padding-left:20px;'>
        <h2><i>Swansea University Medical School</i><br/><b>MSc Health Data Science</b></h2>
        <h3>PMIM-102 Introduction to Scientific Computing in Healthcare</h3>
        <h1><b>Introduction to Programming in R</b></h1>
        <h2><b>3. The Tidyverse</b></h2>
        <h2><i>Part 4: Data types in the tidyverse.</i></h2>
        <h3><i>September 2020</i></h3>
        <h3><b>To-do</b></h3>
        <ul><li>Nothing.</li></ul>
    </td>
    <td><img height='300' width='500' src='images/cover.jpg'/></td>
</tr></table>

## __Aim__: Use the tools available in R to manipulate tables of data.

The aim of this session is to concentrate on the core activities in working with large datasets: moving, cleaning and transforming table data to facilitate analyses. Whilst this is possible using base-R, the facilities provided by the libraries in the __Tidyverse__ make it considerably __easier__ and the resulting code __more readable__.

### __A map of where we're going__

1. <b>Introduction</b> - What is the process, the problems with standard R and the structure of 'tidy' data.

1. <b>Acquiring data</b> - Getting data into R from files (<b>readr</b>).

1. <b>Tidying the data</b> - Handling missing data and reshaping the tables (<b>tidyr</b>).

1. <b>Transforming the data</b> - Selecting and converting the data ready to analyse (<b>dplyr</b>).

1. <div style="background-color:yellow;"><b>Working with specific data types in tidyverse</b>: strings (<b>stringr</b>), dates (<b>lubridate</b>), factors (<b>forcats</b>).</div>

1. <b>Plotting &amp; Data visualisation</b> - beyond the simple R plot etc. (<b>ggplot2</b>).

1. <b>Extras</b> - Things worth knowing of so that you can use them if you ever need them.
 * Applying functions and working with lists (purrr).
 * Tidy evaluation (rlang).
 * Communicating your results with a dynamic, R-based website (shiny).

## __Load the Tidyverse__

The first thing to do is make sure the library is loaded. If you have not already installed it, do so not using the <code>install.packages()</code> function.

In [2]:
## install.packages('tidyverse')
#library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.3     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## __Working with specific data types: strings (stringr), dates (lubridate), factors (forcats)__

There are three different data types in R that often introduce additional problems or subtleties to the work: strings, dates and factors.

### __Strings__

Strings are sequences of characters: words, text etc. As such they are naturally used to convey meaning and naturally subject to spelling mistakes, odd use of capitalisation etc. and we frequently need to process text to make sure all variations of any text are caught (which is one of the strengths of regular expressions). Often it is simply a case of making sure we catch the outliers, for example, with the gleason codes used in prostate cancer, we expect:

`GLEASON 3+4=7`

but we might get:

`3+4=7`, `3+4`, `-+-=7`, `7`, `GLEASON 4+3=8`

and we have to spot these and do something defined in all cases.

[See the stringr cheatsheet.](https://github.com/rstudio/cheatsheets/blob/master/strings.pdf)

Searching, creating or changing strings is simplified in R with the `stringr` library. There are functions to find, count or locate matches in strings, to select parts of strings and to measure or adjust the length of strings. We can also change parts of strings, join or split them and sort them. A full list of these functions is shown in the cheatsheet.

The most useful functions are:
* `str_length(x)` which returns the length of the string, x.
* `str_sub(x, start, stop)` which returns the substring in x that starts at position start (left-most is 1) and ends at position stop. You can use negative numbers to count from the end of the string (right-most is -1).

In [9]:
#str_sub('GLEASON 3+4=7', 1, 7)
#str_sub('GLEASON 3+4=7', 9, -1)
#str_sub('GLEASON 3+4=7', -5, -3)

[1] "GLEASON"

[1] "3+4=7"

[1] "3+4"

In [4]:
## library(stringr)
#pregnancy <- read_csv(file="data/pregnancy.csv")
#head(pregnancy)

#string_test <- pregnancy %>% select(PARENT_ID, DATE_OF_BIRTH, OTHER_LANGUAGE, OTHER_ETHNICITY) %>% filter(!is.na(OTHER_LANGUAGE)|!is.na(OTHER_ETHNICITY))
#string_test %>% filter(str_detect(OTHER_LANGUAGE, str_sub('Polish', 2, str_length('Polish'))))

Parsed with column specification:
cols(
  .default = col_character(),
  PARENT_ID = col_double(),
  INFANT_ID = col_double()
)

See spec(...) for full column specifications.

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 3          .
2  47        47.2     18/12/1965    30/07/2010 3          .
3  45        45.1     05/03/1966    12/07/2010 3          1
4 172       172.1     06/03/1967    27/01/2011 2          1
5   8         8.1     24/12/1967    09/03/2010 2          1
6 301       301.1     16/05/1968    27/04/2011 1          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 .              1         .               4                   ... .
2 .              1         .               4                   ... .
3 .              1         .               4                   ... .
4 .              1         .               4                   ... 0
5 .              1         .               4                   ... .
6 .              1         .               2                   ... 3
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       .                  .                     .           .
2 0       .                  .                     .           .
3 0       .                  .                     13          .
4 1       .                  .                     .           .
5 1       .                  .                     13          .
6 1       .                  .                     .           .
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 .           .           .           .
2 .           .           .           .
3 .           .           .           .
4 .           .           .           .
5 .           .           .           .
6 .           .           .           .

  PARENT_ID DATE_OF_BIRTH OTHER_LANGUAGE OTHER_ETHNICITY
1 424       16/02/1981    polish         polish

In [5]:
#x <- tibble(Gleason=c('GLEASON 3+4=7', 'DUKES=B', 'T1a'))
#x
#x %>% mutate(Gleason=ifelse(str_detect(str_sub(Gleason, 1, 7), 'GLEASON'), str_sub(Gleason, 9, str_length(Gleason)), NA)) %>%
#      mutate(Gleason=str_sub(Gleason, str_locate(Gleason, '=')[,1] + 1, str_length(Gleason)))

  Gleason
1 GLEASON 3+4=7
2 DUKES=B
3 T1a

  Gleason
1 7
2 NA
3 NA

## __Exercise__: Something devilish to do with string handling.

1. List the number of attacks which involved each shirt colour and each monster type with: 'The \<monster\> attacked redshirts \<number\> times.'
1. Choose a monster and find out how many attacks it made and on which shirt colours.
1. Create a list of words and their frequencies.

In [91]:
#events <- c(
#    'The redshirt was bitten by a red vampire.',
#    'The basilisk froze seven securty officers',
#    'Spock was attacked by the zombies',
#    'Werewolves ate four redshirts and one yellowshirt',
#    'The captain spontaneously combusted'
#)
#str_length(events)
#events[str_detect(events, 'vampire')]
#str_locate(events[str_detect(events, 'vampire')], 'red')
#str_locate_all(events[str_detect(events, 'vampire')], 'red')
#str_sub(events[str_detect(events, 'vampire')], str_locate(events[str_detect(events, 'vampire')], 'red')) <-'blue'
#str_sub(events[str_detect(events, 'vampire')], str_locate(events[str_detect(events, 'vampire')], 'vampire')) <- 'green'
#events[str_detect(events, 'vampire')]

#word <- str_to_lower(unlist(str_split(events, ' ')))
#word
#t <- table(word)
#print(t)
#class(t)
#u <- as.data.frame(t)
#print(u %>% arrange(desc(Freq)))

[1] 41 41 33 49 35

[1] "The redshirt was bitten by a red vampire."

     start end
[1,] 5     7

[[1]]
     start end
[1,]     5   7
[2,]    30  32

character(0)

 [1] "the"           "blueshirt"     "was"           "bitten"
 [5] "by"            "a"             "red"           "green."
 [9] "the"           "basilisk"      "froze"         "seven"
[13] "securty"       "officers"      "spock"         "was"
[17] "attacked"      "by"            "the"           "zombies"
[21] "werewolves"    "ate"           "four"          "redshirts"
[25] "and"           "one"           "yellowshirt"   "the"
[29] "captain"       "spontaneously" "combusted"

word
            a           and           ate      attacked      basilisk
            1             1             1             1             1
       bitten     blueshirt            by       captain     combusted
            1             1             2             1             1
         four         froze        green.      officers           one
            1             1             1             1             1
          red     redshirts       securty         seven         spock
            1             1             1             1             1
spontaneously           the           was    werewolves   yellowshirt
            1             4             2             1             1
      zombies
            1

[1] "table"

            word Freq
1            the    4
2             by    2
3            was    2
4              a    1
5            and    1
6            ate    1
7       attacked    1
8       basilisk    1
9         bitten    1
10     blueshirt    1
11       captain    1
12     combusted    1
13          four    1
14         froze    1
15        green.    1
16      officers    1
17           one    1
18           red    1
19     redshirts    1
20       securty    1
21         seven    1
22         spock    1
23 spontaneously    1
24    werewolves    1
25   yellowshirt    1
26       zombies    1

## _Regular Expressions_
Regular expressions are a way to describe pattern in strings and is the defaullt form of the 'pattern' used in stringr, e.g. `str_match(string, pattern)`. They may seem obscure to start with but you quickly get used to them with practice. The rules define the patterns that match:

* 'x' --- match the character x
* 'x|y' --- match the character x or the character y
* '\[xyz\]' --- match any one of x, y or z
* '\[^xyz\]' --- match anything but x, y or z
* '\[t-z\]' --- match anything from t to z
* '^a' --- match anything that starts with a
* 'a\$' --- match anything that ends with a
* '^abcdef\$' --- match abcdef only
* 'a?' --- match zero or one a
* 'a*' --- match zero or more a's
* 'a+' --- match one or more a's
* 'a{n}' --- match exactly n a's
* 'a{n,}' --- match n or more a's
* 'a{n,m}' --- match n to m a's
* '.' --- match any character (except a new-line)
* '\[:digit:\]' --- match a digit (see also: alpha, lower, upper, alnum, punct, graph, space, blank)
* '(ab|c)(d|ef)' --- match the first group followed by the second group i.e. 'ab' or 'c' followed by 'd' or 'ef'

For example, if we wish to find the character, 'x', we simply use 'x'. If we want to find 'x' or 'y', we use 'x|y'. If we want to find one of a set of characters, we use '\[xyz\]' which will find one of 'x', ''y' or 'z'. If we want to find 'abc' or 'd' followed by 'e', we use '(abc|d)e'.

| Regular Expression | Matches, for example |
| --- | --- |
| ^a | a, apple, aardvark, a00001 |
| \[a\] | a, baa, people with a problem, aaaaaaaaaaaaaa |
| \[ab\] | a, baa, boo, oboe |
| \[a\]\*\[b\]\* | bbb, aaa, aaaabbbb, aaaaacccc |
| \[a\]+\[b\]+ | abbbb, aaaaab, abc |
| \[A-Za-z\]+ | any, word, butnotanumberbyitself |
| ^\[a-z-\]+\[@\]{1}\[a-z\]+(\[.\]{1}\[a-z\]+)*$ | hello@regexp.co.uk, help-me@google.com |

You can use other forms of pattern if you convert them with one of the helper functions:
* regex() --- the default
* fixed() --- matches raw bytes but, some characters can be represented in multiple ways and these will be missed
* coll() --- matches raw bytes and uses locale collation rules to match multiply represented characters (slow)
* boundary() --- matches boundaries between characters

In [10]:
#s <- 'How many redshirts were killed in episode 7?'
#p <- '7\\?$'
#str_match(s, p)
#str_split(s, boundary('word'))

     [,1]
[1,] 7?

[[1]]
[1] "How"       "many"      "redshirts" "were"      "killed"    "in"
[7] "episode"   "7"

## __Exercise__: Using regular expressions to find codes.
Load the package, 'pccc' and use regular expressions to look for specific codes in the 'pcc_icd10_dataset' data.

In [19]:
##install.packages('pccc')
##install.packages('data.table')
#library(pccc)
#head(pccc_icd10_dataset)

#p <- pccc_icd10_dataset[str_which(pccc_icd10_dataset$dx1, '^S66'),]
#head(p)

  id dx1     dx2     dx3     dx4     dx5     dx6     dx7     dx8     dx9
1 1  S9410XS I67841  E70339  NA      S14121A M66229  S92065G O0973   NA
2 2  NA      S53422D S92244B M66342  NA      S32442A T1582XD S72325C S52131B
3 3  NA      S91225S NA      W6119XD C8397   M80819K S72114R NA      Y382X3D
4 4  S7226XK Y93G2   L0592   K08530  NA      S62637D T84612A NA      NA
5 5  S92246A O4212   D2920   S42434S F15980  NA      S52572R M8080XA X731XXD
6 6  NA      S52291C NA      NA      E7140   H05222  S60549S NA      S32616G
  ... g1     g2     g3     g4     g5     g6     g7     g8     g9     g10
1 ... 239196 672832 683784 757546     NA 168052 104625     NA 850974     NA
2 ... 931331 404900 912213     NA 964580 371556 778488 115827 440619 955264
3 ... 627455 638100 745829 843799 322975     NA     NA 932106 289004 242699
4 ... 809782 153243 413723 130995 211708 610135     NA 471383 191245 135116
5 ...     NA 636794     NA 928572 930823 168586 133292 699936 500743     NA
6 ... 281891 318962 542326 705580 700647 929863 338026 525937 412691     NA

    id  dx1     dx2     dx3     dx4     dx5     dx6     dx7     dx8     dx9
516 516 S66327S NA      S82445D F6081   Q646    S1114XA S63657A T80818A B0879
532 532 S66390D M60859  C9252   S92501A NA      S82015D B355    V519XXS NA
607 607 S66092D S7291XC NA      NA      M71869  NA      H44712  S63431D Q332
896 896 S66311S G527    NA      S8262XE S83191D T477X4A NA      M47011  S82874E
954 954 S66829S S61131S NA      A530    NA      NA      S27439S S63287D S90822S
    ... g1     g2     g3     g4     g5     g6     g7     g8     g9     g10
516 ... 322312 756223 576607 260745     NA 191428 728607 303661 856791 325379
532 ...     NA 236068 758985 762476 158601 266983 716043 631867 684468     NA
607 ... 619330 222341 767004 692783 938522 229483 330774 463158     NA 424213
896 ... 992676 922170 957206 998480     NA 184157 574014 721306 393150     NA
954 ...     NA 504581 263088 478993     NA 771592 274654 860171 218534 494475

<table style="text-align:center;"><tr><td width="100" height="20" style="background-color:greenyellow"></td><td width="100" height="20" style="background-color:hotpink"></td></tr></table>

### __Dates__

As we found in earlier exercises, dates in R can require considerable care, not only are their formats likely to vary but R will not always treat dates as you would like it to. In addition, people frequently enter dates badly as strings (for example, 31.06.2005 where someone may simply have added 3 to 31.03.2005 to indicate a date 3 months later). There are further complications when you need to calculate intervals from dates - leap years, what is a month, a year etc.

The `lubridate` package has been designed to make handling dates easier and to provide a simple way to perform mathematical functions.

[See the lubridate cheatsheet.](https://github.com/rstudio/cheatsheets/raw/master/lubridate.pdf) Especially for additional information on timestamps and timezones.

There are three components in a lubridate date/time:
1. A datetime which is stored as the number of seconds since January 1st 1970 and represents a date with a time.
1. A date is stored as the number of days since January 1st 1970.
1. An hms is the number of seconds since 00:00 and represents the time.

In [21]:
#library(lubridate)
## datetime
#dt <- as_datetime('2020-09-22 12:00:00')
#dt
#as.integer(dt)
## date
#dt <- as_date('2019-09-22')
#dt
#as.integer(dt)
## hms
#hms <- hms::as_hms('12:00:00')
#hms
#as.integer(hms)

[1] "2020-09-22 12:00:00 UTC"

[1] 1600776000

[1] "2019-09-22"

[1] 18161

12:00:00

[1] 43200

### _Specifying datetimes_

You can specify datetimes with string and numbers using a series of functions that match the format of the strings and numbers you want to use:
1. ymd_hms(), ymd_hm(), ymd_h(), ymd()
1. ydm_hms() etc.
1. mdy_hms() etc.
1. yq(), hms(), hm(), ms() (may need to specify lubridate here, for example, lubridate::hms() rather than hms::hms())

In [25]:
#dt <- ymd_hms('2020/09/22 17:26:30')
#dt

[1] "2020-09-22 17:26:30 UTC"

### _Getting and setting components_

It is straightforward to set the components of a datetime, such as date(), year(), month(), day(), wday(), hour(), minute(), second(), week(), semester() and check values such as am(), pm(), dst() - daylight saving time?, leap_year().

In [26]:
#semester(dt)
#wday(dt)
#pm(dt)
#leap_year(dt)
#dst(dt)

#month(dt) <- 12
#dt

[1] 2

[1] 3

[1] TRUE

[1] TRUE

[1] FALSE

[1] "2020-12-22 17:26:30 UTC"

### _Maths with dates_

Date calculations are a series of traps and problems. You need to consider:
1. Leap days and leap seconds
1. Daylight saving hours
1. Adding months when on 31st of the month (31st February --> NA)

The Tidyverse tries to help by including three kinds of timespan:
1. Period --- tracks the change in clock time
1. Duration --- tracks the actual amount of time irrespective of clock manipulations, so not clock time when changes occur
1. Interval --- represents specific intervals on the timeline, bounded by a start and end datetime.

To create one of these timespans, you can use the constructor:
* `period()`
* `duration()`
* `interval()` (or, in this case, %--%)

or the and the conversion functions:
* `as.period()`
* `as.duration()`
* `as.interval()`

Some functions are also provided to help round dates appropriately:
* floor_date(x, unit='second') --- rounds down to the specified unit
* round_date(x, unit='second') --- rounds to the nearest unit
* ceiling_date(x, unit='second') --- rounds up to the nearest unit
* rollback(dates, roll_to_first=FALSE, preserve_hms=TRUE) -- rollback to the last day of the previous month (this is also done with the operators, %m+% and %m-%)

In [27]:
#per <- months(2)
#per
#dur <- dweeks(4)
#dur
#int <- interval(ymd('2019-09-28'), ymd('2019-09-01'))
#int
#dt <- ymd('2016-01-31') + months(1)
#dt
#dt <- ymd('2016-01-31') %m+% months(1)
#dt

[1] "2m 0d 0H 0M 0S"

[1] "2419200s (~4 weeks)"

[1] 2019-09-28 UTC--2019-09-01 UTC

[1] NA

[1] "2016-02-29"

And there are some handy extra functions:
* now() --- current time
* today() --- current date

In [29]:
#today() + dur
#now() + dminutes(10)

[1] "2020-10-20"

[1] "2020-09-22 20:54:57 BST"

## __Exercise__: Play with dates and durations.
What happens if you add or subtract a day, a month, a year?

In [35]:
#n <- now()
#n
#m <- months(1)
#m
#m1 <- as.duration(m)
#m1
#m2 <- as.period(m)
#m2
#m3 <- as.interval(m, now())
#m3
#n <- n + months(1)
#n

[1] "2020-09-22 20:48:04 BST"

[1] "1m 0d 0H 0M 0S"

[1] "2629800s (~4.35 weeks)"

[1] "1m 0d 0H 0M 0S"

[1] 2020-09-22 20:48:04 BST--2020-10-22 20:48:04 BST

[1] "2020-10-22 20:48:04 BST"

## __Exercise__: Convert the dates in the `pregnancy` dataset to a date type and process them.
Convert all (some) of the date fields in the pregnancy dataset to dates. Check for problems. Determine how many children were born in the summer months. Calculate the interval between children for those parents with more than one child.

In [36]:
#library(lubridate)
#p <- pregnancy %>% select(PARENT_ID, DOBCHILD1, DOBCHILD2, DOBCHILD3, DOBCHILD4, DOBCHILD5, DOBCHILD6) %>%
#    mutate(DOBCHILD1 = as.Date(DOBCHILD1, format='%d/%m/%Y')) %>%
#    mutate(MONTH_CHILD1 = month(DOBCHILD1)) %>%
#    mutate(SUMMER_CHILD1 = (MONTH_CHILD1 >= 6 & MONTH_CHILD1 <= 8))
#table(p$SUMMER_CHILD1)
#head(p, 20)
#q <- pregnancy %>% select(PARENT_ID, DOBCHILD1, DOBCHILD2, DOBCHILD3, DOBCHILD4, DOBCHILD5, DOBCHILD6) %>%
#    mutate(DOBCHILD1 = as.Date(DOBCHILD1, format='%d/%m/%Y')) %>%
#    mutate(DOBCHILD2 = as.Date(DOBCHILD2, format='%d/%m/%Y')) %>%
#    mutate(GAP_12 = ifelse(!is.na(DOBCHILD1) & !is.na(DOBCHILD2), DOBCHILD2 - DOBCHILD1, NA))
#head(q, 20)

FALSE  TRUE
  360   103

   PARENT_ID DOBCHILD1  DOBCHILD2  DOBCHILD3  DOBCHILD4 DOBCHILD5 DOBCHILD6
1   47       2003-11-07 NA         NA         NA        NA        NA
2   47       2003-11-07 NA         NA         NA        NA        NA
3   45       2003-12-29 NA         NA         NA        NA        NA
4  172       <NA>       NA         NA         NA        NA        NA
5    8       2008-11-07 NA         NA         NA        NA        NA
6  301       2000-05-16 NA         NA         NA        NA        NA
7    7       2003-11-27 04/12/2005 NA         NA        NA        NA
8  451       1999-02-22 16/08/2000 25/09/2002 NA        NA        NA
9  455       2007-11-12 NA         NA         NA        NA        NA
10 194       <NA>       NA         NA         NA        NA        NA
11 266       2009-09-20 NA         NA         NA        NA        NA
12 611       1998-10-20 NA         NA         NA        NA        NA
13 235       1999-10-14 NA         NA         NA        NA        NA
14 632       1998-06-07 03/12/2002 NA         NA        NA        NA
15 343       <NA>       NA         NA         NA        NA        NA
16 758       <NA>       NA         NA         NA        NA        NA
17 756       <NA>       NA         NA         NA        NA        NA
18 349       2009-01-07 NA         NA         NA        NA        NA
19  36       1999-10-06 11/10/2000 NA         NA        NA        NA
20 417       2008-09-17 NA         NA         NA        NA        NA
   MONTH_CHILD1 SUMMER_CHILD1
1  11           FALSE
2  11           FALSE
3  12           FALSE
4  NA              NA
5  11           FALSE
6   5           FALSE
7  11           FALSE
8   2           FALSE
9  11           FALSE
10 NA              NA
11  9           FALSE
12 10           FALSE
13 10           FALSE
14  6            TRUE
15 NA              NA
16 NA              NA
17 NA              NA
18  1           FALSE
19 10           FALSE
20  9           FALSE

   PARENT_ID DOBCHILD1  DOBCHILD2  DOBCHILD3  DOBCHILD4 DOBCHILD5 DOBCHILD6
1   47       2003-11-07 <NA>       NA         NA        NA        NA
2   47       2003-11-07 <NA>       NA         NA        NA        NA
3   45       2003-12-29 <NA>       NA         NA        NA        NA
4  172       <NA>       <NA>       NA         NA        NA        NA
5    8       2008-11-07 <NA>       NA         NA        NA        NA
6  301       2000-05-16 <NA>       NA         NA        NA        NA
7    7       2003-11-27 2005-12-04 NA         NA        NA        NA
8  451       1999-02-22 2000-08-16 25/09/2002 NA        NA        NA
9  455       2007-11-12 <NA>       NA         NA        NA        NA
10 194       <NA>       <NA>       NA         NA        NA        NA
11 266       2009-09-20 <NA>       NA         NA        NA        NA
12 611       1998-10-20 <NA>       NA         NA        NA        NA
13 235       1999-10-14 <NA>       NA         NA        NA        NA
14 632       1998-06-07 2002-12-03 NA         NA        NA        NA
15 343       <NA>       <NA>       NA         NA        NA        NA
16 758       <NA>       <NA>       NA         NA        NA        NA
17 756       <NA>       <NA>       NA         NA        NA        NA
18 349       2009-01-07 <NA>       NA         NA        NA        NA
19  36       1999-10-06 2000-10-11 NA         NA        NA        NA
20 417       2008-09-17 <NA>       NA         NA        NA        NA
   GAP_12
1    NA
2    NA
3    NA
4    NA
5    NA
6    NA
7   738
8   541
9    NA
10   NA
11   NA
12   NA
13   NA
14 1640
15   NA
16   NA
17   NA
18   NA
19  371
20   NA

<table style="text-align:center;"><tr><td width="100" height="20" style="background-color:greenyellow"></td><td width="100" height="20" style="background-color:hotpink"></td></tr></table>

### __Factors__

[See the forcats cheatsheet.](https://github.com/rstudio/cheatsheets/raw/master/factors.pdf) 

The Tidyverse provides a library, `forcats`, with a number of utilities for handling factors.

A factor is a categorical variable (a vector with a fixed set of values). In R a factor is displayed with string values but stored as integers with a hidden look-up table to do the conversion. This avoids spelling mistakes and problems with capitalisation (or, rather, these things show up as errors).

The factors are usually ordered alphabetically which can be inconvenient when it comes to plotting by categories for example.

We create a factor with `factor(x=character(), levels)` or from a vector with `as.factor()`. The levels can be seen and set by calling `levels(x)`.

In [41]:
#bmi <- factor(c('healthy', 'underweight', 'obese', 'healthy', 'healthy', 'overweight', 'healthy', 'obese', 'overweight'))
#bmi
## Notice that the levels are listed alphabetically. Note also that the print(bmi) automatically prints the levels.
#levels(bmi)
#bmi <- factor(c('healthy', 'underweight', 'obese', 'healthy', 'healthy', 'overweight', 'healthy', 'obese', 'overweight'),
#             levels=c('underweight', 'healthy', 'overweight', 'obese'))
#bmi
## Notice that the levels are listed ordinally.
#levels(bmi)
## Notice that the following changes the labels not the order of the labels so the data has changed too.
#levels(bmi) <- c('obese', 'overweight', 'healthy', 'underweight')
#bmi
#levels(bmi)

[1] healthy     underweight obese       healthy     healthy     overweight
[7] healthy     obese       overweight
Levels: healthy obese overweight underweight

[1] "healthy"     "obese"       "overweight"  "underweight"

[1] healthy     underweight obese       healthy     healthy     overweight
[7] healthy     obese       overweight
Levels: underweight healthy overweight obese

[1] "underweight" "healthy"     "overweight"  "obese"

[1] overweight  obese       underweight overweight  overweight  healthy
[7] overweight  underweight healthy
Levels: obese overweight healthy underweight

[1] "obese"       "overweight"  "healthy"     "underweight"

There are some useful forcats functions:
* fct_count() --- count the frequency of each level
* fct_unique() --- get the unique values
* fct_c() --- combine factors (with possibly different levels)
* fct_unify() --- unify the levels across different factors
* fct_relevel() --- relevel the factor
* fct_infreq() --- relevel the factor by th efrequency eacch occurs
* fct_collapse() --- collapse the specified levels into a new (or existing) level
* fct_other() --- allows you to select some levels to keep, the rest collapsed into a level, 'Other'

There are several additional re-ordering functions - see the cheatsheet.

In [44]:
#library(forcats)
#bmi <- factor(c('healthy', 'underweight', 'obese', 'healthy', 'healthy', 'overweight', 'healthy', 'obese', 'overweight'))
#fct_count(bmi)
#fct_unique(bmi)
## Note that the order of the levels below has changed not the data.
#fct_relevel(bmi, c('obese', 'overweight', 'healthy', 'underweight'))
## Now re-ordered according to frequency of each factor (useful for listing and plotting).
#fct_infreq(bmi)
## Collapse some factors into the same value.
#fct_collapse(bmi, heavy=c('overweight', 'obese'))

  f           n
1 healthy     4
2 obese       2
3 overweight  2
4 underweight 1

[1] healthy     obese       overweight  underweight
Levels: healthy obese overweight underweight

[1] healthy     underweight obese       healthy     healthy     overweight
[7] healthy     obese       overweight
Levels: obese overweight healthy underweight

[1] healthy     underweight obese       healthy     healthy     overweight
[7] healthy     obese       overweight
Levels: healthy obese overweight underweight

[1] healthy     underweight heavy       healthy     healthy     heavy
[7] healthy     heavy       heavy
Levels: healthy heavy underweight

## __Exercise__: Factors in the pregnancy dataset.
1. Create a factor for season of child birth.
1. Create a factor for length of gap between births with a non-linear increment, e.g. <1 year, <18 months, <2 years, <3 years, <5 years, >5  years.

In [54]:
#head(pregnancy)
#seasons <- pregnancy %>% select(PARENT_ID, INFANT_ID, EDD) %>% mutate(CHILD_BIRTH=dmy(EDD))
#seasons <- seasons %>% mutate(SEASON=ifelse(month(CHILD_BIRTH) %in% c(12, 1, 2), 'winter', 
#                                            ifelse(month(CHILD_BIRTH) %in% c(3, 4, 5), 'spring',
#                                                   ifelse(month(CHILD_BIRTH) %in% c(6, 7, 8), 'summer',
#                                                          'autumn'))))
#seasons <- seasons %>% mutate(SEASON=as.factor(SEASON))
#head(seasons)

  PARENT_ID INFANT_ID DATE_OF_BIRTH EDD        BIRTH_PLAN LANGUAGE
1  47        47.1     18/12/1965    30/07/2010 3          .
2  47        47.2     18/12/1965    30/07/2010 3          .
3  45        45.1     05/03/1966    12/07/2010 3          1
4 172       172.1     06/03/1967    27/01/2011 2          1
5   8         8.1     24/12/1967    09/03/2010 2          1
6 301       301.1     16/05/1968    27/04/2011 1          1
  OTHER_LANGUAGE ETHNICITY OTHER_ETHNICITY RELATIONSHIP_STATUS ... SMOKE_NUMBER
1 .              1         .               4                   ... .
2 .              1         .               4                   ... .
3 .              1         .               4                   ... .
4 .              1         .               4                   ... 0
5 .              1         .               4                   ... .
6 .              1         .               2                   ... 3
  ALCOHOL EARLY_PREG_ALCOHOL MID_LATE_PREG_ALCOHOL MEDICATION1 MEDICATION2
1 0       .                  .                     .           .
2 0       .                  .                     .           .
3 0       .                  .                     13          .
4 1       .                  .                     .           .
5 1       .                  .                     13          .
6 1       .                  .                     .           .
  MEDICATION3 MEDICATION4 MEDICATION5 MEDICATION6
1 .           .           .           .
2 .           .           .           .
3 .           .           .           .
4 .           .           .           .
5 .           .           .           .
6 .           .           .           .

  PARENT_ID INFANT_ID EDD        CHILD_BIRTH SEASON
1  47        47.1     30/07/2010 2010-07-30  summer
2  47        47.2     30/07/2010 2010-07-30  summer
3  45        45.1     12/07/2010 2010-07-12  summer
4 172       172.1     27/01/2011 2011-01-27  winter
5   8         8.1     09/03/2010 2010-03-09  spring
6 301       301.1     27/04/2011 2011-04-27  spring

<table style="text-align:center;"><tr><td width="100" height="20" style="background-color:greenyellow"></td><td width="100" height="20" style="background-color:hotpink"></td></tr></table>

<table width='100%'><tr>
    <td style='background-color:red; text-align:center; color: white;'><!--Foundation<!--hr size='5' style='border-color:red; background-color:red;'--></td>
    <td style='background-color:yellow; text-align:center;'><!--Level 1<!--hr size='5' style='border-color:yellow; background-color:yellow;'--></td>
    <td style='background-color:orange; text-align:center;'><!--Level 2<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:green; text-align:center; color: white;'><!--Level 3<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:blue; text-align:center; color: white;'><!--Level 4<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:purple; text-align:center; color: white;'><!--Level 5<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:brown; text-align:center; color: white;'><!--Level 6<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
    <td style='background-color:black; text-align:center; color: white;'><!--Level 7<!--hr size='5' style='border-color:orange; background-color:orange;'--></td>
</tr></table>